@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="col-sm-9 page-content">
    <div class="row">
        <hgroup class="title">
            <h1 class="error">Error.</h1>
            <h2 class="error">An error occurred while processing your request.</h2>
        </hgroup>
    </div>
</div>