@model Site.Core.DataModel.Response.InsertResponse
@{
    ViewBag.Title = "Payment resulf";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="col-md-9 page-content">
    <div class="big-title text-center">
        <h1>@Model.Message</h1>
        <p class="title-desc">Thank You</p>
    </div>
</div>
