@{
    ViewBag.Title = "Registration Incompleted";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="col-sm-9">
    <div class="big-title text-center">
        <h1>Your registration <span class="accent-color"><strong>incompleted</strong></span> <a href="@Url.Action("RegistrationForm", "Registration")">Click Here</a> to complete registration</h1>
        <p class="title-desc">Thank You</p>
    </div>
</div>
