@using apcrshr_site.Helper
@model Site.Core.DataModel.Model.PhotoModel
@{
    ViewBag.Title = "Thêm Ảnh";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
    SelectList albums = ViewBag.Albums;
}

<div class="row">
    <div class="col-sm-12">
        <div class="box">
            <div class="highlight-toolbar">
                <div class="pull-left">
                </div>
                <div class="pull-right">
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <a href='@Url.Action("Index")' class="btn btn-danger" rel="tooltip" title="Hủy Bỏ">
                                <i class="fa fa-arrow-up"></i>&nbsp; Hủy Bỏ
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-title">
                <h3>
                    <i class="fa fa-th"></i>Tải ảnh
                </h3>
            </div>
            <div class="box-content nopadding">
                <div class="plupload"></div>
            </div>
        </div>
    </div>
</div>

