@{
    ViewBag.Title = "Đăng Nhập";
    Layout = "~/Areas/Administrator/Views/Shared/_LayoutLoginPage.cshtml";
}

<div class="wrapper">
    <h1>
        <a href="#">
            Quản Trị Viên
        </a>
    </h1>
    <div class="login-body">
        <h2>Đăng Nhập</h2>
        @using (Html.BeginForm("Login", "AdminHome", FormMethod.Post, new { @class = "form-validate" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="email controls">
                    <input type="text" name='UserName' placeholder="Tên Đăng Nhập" class='form-control' data-rule-required="true" data-rule-email="true">
                </div>
            </div>
            <div class="form-group">
                <div class="pw controls">
                    <input type="password" name="Password" placeholder="Mật Khẩu" class='form-control' data-rule-required="true">
                </div>
            </div>
            <div class="submit">
                <div class="remember">
                    <input type="checkbox" name="RememberMe" class='icheck-me' data-skin="square" data-color="blue" id="RememberMe" value="true">
                    <label for="remember">Ghi nhớ</label>
                </div>
                <input type="submit" value="Đăng Nhập" class='btn btn-primary'>
            </div>
            if (ViewBag.Response != null)
            {
                Site.Core.DataModel.Response.AdminLoginResponse responseMsg = (Site.Core.DataModel.Response.AdminLoginResponse)ViewBag.Response;
                <br />
                <div class="alert @(responseMsg.ErrorCode == (int)Site.Core.DataModel.Enum.ErrorCode.None ? " alert-info" : " alert-danger")"><a class="close" data-dismiss="alert" href="#">×</a><strong></strong> @responseMsg.Message</div>
            }
        }
        <div class="forget">
            <a href='@Url.Action("ForgetPassword", "AdminHome")'>
                <span>Quên Mật Khẩu?</span>
            </a>
        </div>
    </div>
</div>