@{
    ViewBag.Title = "AboutBackground";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="col-md-9 page-content">
    <!-- Classic Heading -->
    <h4 class="classic-title"><span>Background</span></h4>

    <div class="blog-post quote-post">
        <!-- Post Content -->
        <div class="post-content">
            <div class="post-type"><i class="icon-quote-left-1"></i></div>
            <div class="qoute-box">
                <a href="#">
                    <h2>Improve Access to Health Care for Marginalised Populations.</h2>
                    <div class="qoute-author">John Kennedy</div>
                </a>
            </div>
            <ul class="post-meta">
                <li>December 30, 2015</li>
                <li><a href="#">Posted by</a>, <a href="#">ACPRSHR</a></li>
            </ul>
        </div>
    </div>

    <div class="blog-post standard-post">
        <!-- Post Content -->
        <div class="post-content">
            <div class="post-type"><i class="icon-pencil-4"></i></div>
            <h2><a href="#">Announcement of the 4th Asia Pacific conference on public health</a></h2>
            <ul class="post-meta">
                <li>December 30, 2015</li>
                <li><a href="#">Posted by</a>, <a href="#">ACPRSHR</a></li>
            </ul>
            <p>The Asia Pacific Conference on Public Health is convened annually. In 2013, the Vietnam Public Health Association (VPHA) will be the host of the 4th Asia Pacific Conference on Public Health from 21 – 22 November, 2013 in Nha Trang. The theme for the Conference is "Climate change and Population Health".</p>
            <p>The Asia Pacific Conference on Public Health is convened annually. In 2013, the Vietnam Public Health Association (VPHA) will be the host of the 4th Asia Pacific Conference on Public Health from 21 – 22 November, 2013 in Nha Trang. The theme for the Conference is "Climate change and Population Health".</p>
            <p>The Asia Pacific Conference on Public Health is convened annually. In 2013, the Vietnam Public Health Association (VPHA) will be the host of the 4th Asia Pacific Conference on Public Health from 21 – 22 November, 2013 in Nha Trang. The theme for the Conference is "Climate change and Population Health".</p>
        </div>
    </div>
</div>
