@{
    ViewBag.Title = "AboutThemeObjective";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="col-md-9 page-content">
    <!-- Classic Heading -->
    <h4 class="classic-title"><span>Theme and Objectives</span></h4>

    <div class="blog-post standard-post">
        <!-- Post Content -->
        <div class="post-content">
            <div class="post-type"><i class="icon-pencil-4"></i></div>
            <h2><a href="#">About Vietnam Public Health Association</a></h2>
            <ul class="post-meta">
                <li>December 30, 2015</li>
                <li><a href="#">Posted by</a>, <a href="#">ACPRSHR</a></li>
            </ul>
            <p>The Vietnam Public Health Association is pleased to announce that the 4th Asia-Pacific Conference on Public Health (APCPH) will be held in Nha Trang City, Viet Nam between 21-22 November, 2013. With the theme of "Climate Change and Population Health", the Conference will remind us of the emerging threat to public health not only in Viet Nam but also in many other parts of the world. Climate change has been affecting, and will continue to affect the health status of different generations and population groups, patterns of morbidity and mortality, the rich-poor health gap, social stability, geo-political security, etc.</p>
        </div>
    </div>
</div>
