@{
    ViewBag.Title = "Delegate Infomation";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!-- Page Content -->
<div class="col-md-9 page-content">

    <!-- Classic Heading -->
    <h4 class="classic-title"><span>Delegate Infomation</span></h4>

    <!-- InstanceBeginEditable name="CONTENT" -->
    <div id="subbox" class="delegate_info">

        <h3>The 10th APACT Conference (APACT 2013)</h3>
        <table class="tb01 mb50 mt20">
            <tbody>
                <tr>
                    <th class="top">Theme</th>
                    <td class="top">
                        Ending the Tobacco Epidemic<br>
                        - Protecting and Keeping Healthy Lives -
                    </td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>August 18 ~ 21, 2013</td>
                </tr>
                <tr>
                    <th>Venue</th>
                    <td>
                        <a href="#" target="_blank">International Conference Hall</a>, <a href="#" target="_blank">Makuhari Messe</a> <span class="f90">in Chiba, Japan</span>
                        <p class="pt10">
                            2-1, Nakase, Mihama-ku, Chiba-city, 261-0023 Japan<br>
                            TEL +81-43-296-0001
                        </p>
                    </td>
                </tr>
                <tr>
                    <th height="74">Official Language</th>
                    <td>
                        English
                        <p class="pt10 indt01">* Simultaneous interpretations (English to Japanese) will be available in oral sessions.</p>
                    </td>
                </tr>
            </tbody>
        </table>

        <h3>Objectives of the Conference</h3>
        <p class="fWB f110 lH13">
            Ending the Tobacco Epidemic<br>
            - Protecting and Keeping Healthy Lives -
        </p>
        <p>Assessment of implementation of the FCTC in each country</p>
        <p>Learn from examples of countries more advanced policies in tobacco control.</p>
        <p>Tobacco control should be considered as a part of fighting against the NCD (Non Communicable Diseases)</p>

        <h3>Scale</h3>
        <table class="tb02 mb45">
            <tbody>
                <tr>
                    <th class="top">Attendants</th>
                    <td colspan="2" class="top">1,000 Persons</td>
                </tr>
                <tr>
                    <th>Country</th>
                    <td colspan="2">40 Countries</td>
                </tr>
                <tr>
                    <th rowspan="2">Abstracts</th>
                    <td class="txtAR Bb0 scale_td02">Oral : </td>
                    <td class="p0 Bb0">100</td>
                </tr>
                <tr>
                    <td class="txtAR Bt0 scale_td02">Poster<span class="txtAR" style="width:3em;"> : </span></td>
                    <td class="p0 Bt0">380</td>
                </tr>
                <tr>
                    <th>Booth</th>
                    <td colspan="2">20</td>
                </tr>
            </tbody>
        </table>
        <h3>Schedule of the Conference</h3>
        <h4>Program</h4>
        <p class="txtAC mb50 b-before"><a href="http://www.apact.jp/pdf/delegate_info_program.pdf" target="_blank">
            <img src="~/Content/upload/images/delegate_img_program.gif" width="100%" height="740" alt="program" class="over1"></a>
        </p>
        <h3>Social Program</h3>
        <h5 class="fWB mtz">・Welcome Party</h5>
        <table class="tb01 socialPro">
            <tbody>
                <tr>
                    <th class="top">Date&amp;Time</th>
                    <td class="top">Sunday, August 18, 18:00~</td>
                </tr>
                <tr>
                    <th>Venue</th>
                    <td>Convention Hall, <a href="#" target="_blank">International Conference Hall</a> 2F, <a href="http://www.m-messe.co.jp/en/index.html" target="_blank">Makuhari Messe</a></td>
                </tr>
            </tbody>
        </table>
        <h5 class="fWB">・Opening Ceremony</h5>
        <table class="tb01 socialPro mb20">
            <tbody>
                <tr>
                    <th class="top">Date&amp;Time</th>
                    <td class="top">Monday, August 19, 9:00~</td>
                </tr>
                <tr>
                    <th>Venue</th>
                    <td>International Conference Room, <a href="#" target="_blank">International Conference Hall</a> 2F, <a href="http://www.m-messe.co.jp/en/index.html" target="_blank">Makuhari Messe</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- InstanceEndEditable -->

</div>