@{
    ViewBag.Title = "Donnor";
    Layout = "~/Views/Shared/_FullWidthLayoutPage.cshtml";
}

<!-- Start Content -->
<div id="content">
    <div class="container">
        <div class="page-content">

            <!-- Classic Heading -->
            <h4 class="classic-title"><span>Platinum Donnors</span></h4>

            <div class="row">

                <!-- Start Image Service Box 1 -->
                <div class="col-md-4 image-service-box">
                    <img class="img-thumbnail" src="~/Content/upload/donnor/fedex.jpg" alt="" />
                    <h4>FedEx</h4>
                    <p>FedEx Corporation is an American global courier delivery services company headquartered in Memphis, Tennessee.</p>
                </div>
                <!-- End Image Service Box 1 -->
                <!-- Start Image Service Box 2 -->
                <div class="col-md-4 image-service-box">
                    <img class="img-thumbnail" src="~/Content/upload/donnor/lg.jpg" alt="" />
                    <h4>LG</h4>
                    <p>LG Electronics Inc. is a South Korean multinational electronics company headquartered in Yeouido-dong, Seoul, and a member of the LG Group, employing 83,000 people working in 119 local subsidiaries worldwide.</p>
                </div>
                <!-- End Image Service Box 2 -->
                <!-- Start Image Service Box 3 -->
                <div class="col-md-4 image-service-box">
                    <img class="img-thumbnail" src="~/Content/upload/donnor/tostitos.jpg" alt="" />
                    <h4>TOSTITOS</h4>
                    <p>What could be better than one Tostitos product? Multiple Tostitos products of course. Browse our sweet selection of nutritious goods and see what others.</p>
                </div>
                <!-- End Image Service Box 3 -->

            </div>

            <!-- Divider -->
            <div class="hr1" style="margin-bottom:25px;"></div>

            <!-- Classic Heading -->
            <h4 class="classic-title"><span>Other Donnors</span></h4>

            <div class="row">

                <!-- Start Clients Carousel -->
                <div class="our-clients">

                    <div class="clients-carousel custom-carousel touch-carousel" data-appeared-items="4">

                        <!-- Client 1 -->
                        <div class="client-item item">
                            <a href="#"><img src="~/Content/images/c1.png" alt="" /></a>
                        </div>

                        <!-- Client 2 -->
                        <div class="client-item item">
                            <a href="#"><img src="~/Content/images/c2.png" alt="" /></a>
                        </div>

                        <!-- Client 3 -->
                        <div class="client-item item">
                            <a href="#"><img src="~/Content/images/c3.png" alt="" /></a>
                        </div>

                        <!-- Client 4 -->
                        <div class="client-item item">
                            <a href="#"><img src="~/Content/images/c4.png" alt="" /></a>
                        </div>

                        <!-- Client 5 -->
                        <div class="client-item item">
                            <a href="#"><img src="~/Content/images/c5.png" alt="" /></a>
                        </div>

                        <!-- Client 6 -->
                        <div class="client-item item">
                            <a href="#"><img src="~/Content/images/c6.png" alt="" /></a>
                        </div>

                        <!-- Client 7 -->
                        <div class="client-item item">
                            <a href="#"><img src="~/Content/images/c7.png" alt="" /></a>
                        </div>

                        <!-- Client 8 -->
                        <div class="client-item item">
                            <a href="#"><img src="~/Content/images/c8.png" alt="" /></a>
                        </div>

                    </div>
                </div>
                <!-- End Clients Carousel -->

            </div>

        </div>
    </div>
</div>
<!-- End Content -->
