@{
    ViewBag.Title = "Exhibition Youth Conference";
    Layout = "~/Views/Shared/_FullWidthLayoutPage.cshtml";
}

<!-- Start Content -->
<div id="content">
    <div class="container">

        <!-- Classic Heading -->
        <h4 class="classic-title"><span>Recent exhibitions</span></h4>

        <!-- Some Text -->
        <p>The Asia Pacific Conference on Reproductive and Sexual Health and Rights or APCRSHR is a biennial gathering of civil society, young people, academia, government, media, private sector, and development partners from the region concerned about sexual and reproductive health and rights (SRHR).</p>
        <p>The first APCRSHR was organized in 2001 in Manila. The succeeding six conferences were held in Bangkok (2003), Kuala Lumpur (2005). Hyderabad (2007), Beijing (2009), Yogyakarta (2011), and Manila (2014). These conferences had varying themes to address SRHR development, issues and actions.</p>

        <!-- Divider -->
        <div class="hr5" style="margin-top:35px; margin-bottom:35px;"></div> 

        <div class="row portfolio-page">

            <!-- Start Portfolio Filter -->
            <div class="portfolio-filter col-md-12">
                <ul>
                    <li><a href="#" class="selected" data-filter="*">Show All</a></li>
                    <li><a href="#" data-filter=".hanoi">Ha Noi</a></li>
                    <li><a href="#" data-filter=".hue">Hue</a></li>
                    <li><a href="#" data-filter=".hcm">HCM</a></li>
                    <li><a href="#" data-filter=".danang">Da Nang</a></li>
                    <li><a href="#" data-filter=".cantho">Can Tho</a></li>
                </ul>
            </div>
            <!-- End Portfolio Filter -->
            <!-- Start Portfolio Items -->
            <div id="portfolio" class="portfolio-4">

                <!-- Start Portfolio Item -->
                <div class="portfolio-item hanoi hcm col-md-3">
                    <div class="portfolio-border">
                        <!-- Start Portfolio Item Thumb -->
                        <div class="portfolio-thumb">
                            <a class="lightbox" data-lightbox-type="ajax" href="../../../vimeo.com/78468485.html">
                                <div class="thumb-overlay"><i class="icon-video-1"></i></div>
                                <img alt="" src="~/Content/upload/images/portfolio-01.jpg" />
                            </a>
                        </div>
                        <!-- End Portfolio Item Thumb -->
                        <!-- Start Portfolio Item Details -->
                        <div class="portfolio-details">
                            <a href="#">
                                <h4>Event 1</h4>
                                <span>Ha Noi</span>
                                <span>HCM</span>
                            </a>
                            <a href="#" class="like-link"><i class="icon-heart-1"></i><span>5</span></a>
                        </div>
                        <!-- End Portfolio Item Details -->
                    </div>
                </div>
                <!-- End Portfolio Item -->
                <!-- Start Portfolio Item -->
                <div class="portfolio-item hue cantho col-md-3">
                    <div class="portfolio-border">
                        <!-- Start Portfolio Item Thumb -->
                        <div class="portfolio-thumb">
                            <a class="lightbox" title="This is an image title" href="~/Content/upload/images/portfolio-big-01.jpg">
                                <div class="thumb-overlay"><i class="icon-resize-full"></i></div>
                                <img alt="" src="~/Content/upload/images/portfolio-02.jpg" />
                            </a>
                        </div>
                        <!-- End Portfolio Item Thumb -->
                        <!-- Start Portfolio Item Details -->
                        <div class="portfolio-details">
                            <a href="#">
                                <h4>Event 2</h4>
                                <span>Hue</span>
                                <span>Can Tho</span>
                            </a>
                            <a href="#" class="like-link"><i class="icon-heart-1"></i><span>2</span></a>
                        </div>
                        <!-- End Portfolio Item Details -->
                    </div>
                </div>
                <!-- End Portfolio Item -->
                <!-- Start Portfolio Item -->
                <div class="portfolio-item hue col-md-3">
                    <div class="portfolio-border">
                        <!-- Start Portfolio Item Thumb -->
                        <div class="portfolio-thumb">
                            <a href="#">
                                <div class="thumb-overlay"><i class="icon-link-1"></i></div>
                                <img alt="" src="~/Content/upload/images/portfolio-03.jpg" />
                            </a>
                        </div>
                        <!-- End Portfolio Item Thumb -->
                        <!-- Start Portfolio Item Details -->
                        <div class="portfolio-details">
                            <a href="#">
                                <h4>Event 3</h4>
                                <span>Hue</span>
                            </a>
                            <a href="#" class="like-link"><i class="icon-heart-1"></i><span>12</span></a>
                        </div>
                        <!-- End Portfolio Item Details -->
                    </div>
                </div>
                <!-- End Portfolio Item -->
                <!-- Start Portfolio Item -->
                <div class="portfolio-item hanoi danang col-md-3">
                    <div class="portfolio-border">
                        <!-- Start Portfolio Item Thumb -->
                        <div class="portfolio-thumb">
                            <a href="#">
                                <div class="thumb-overlay"><i class="icon-link-1"></i></div>
                                <img alt="" src="~/Content/upload/images/portfolio-04.jpg" />
                            </a>
                        </div>
                        <!-- End Portfolio Item Thumb -->
                        <!-- Start Portfolio Item Details -->
                        <div class="portfolio-details">
                            <a href="#">
                                <h4>Event 4</h4>
                                <span>Ha Noi</span>
                                <span>Da Nang</span>
                            </a>
                            <a href="#" class="like-link"><i class="icon-heart-1"></i><span>6</span></a>
                        </div>
                        <!-- End Portfolio Item Details -->
                    </div>
                </div>
                <!-- End Portfolio Item -->
                <!-- Start Portfolio Item -->
                <div class="portfolio-item hue hcm col-md-3">
                    <div class="portfolio-border">
                        <!-- Start Portfolio Item Thumb -->
                        <div class="portfolio-thumb">
                            <a class="lightbox" title="This is an image title" href="~/Content/upload/images/portfolio-big-02.jpg">
                                <div class="thumb-overlay"><i class="icon-resize-full"></i></div>
                                <img alt="" src="~/Content/upload/images/portfolio-05.jpg" />
                            </a>
                        </div>
                        <!-- End Portfolio Item Thumb -->
                        <!-- Start Portfolio Item Details -->
                        <div class="portfolio-details">
                            <a href="#">
                                <h4>Event 5</h4>
                                <span>Hue</span>
                                <span>HCM</span>
                            </a>
                            <a href="#" class="like-link"><i class="icon-heart-1"></i><span>3</span></a>
                        </div>
                        <!-- End Portfolio Item Details -->
                    </div>
                </div>
                <!-- End Portfolio Item -->
                <!-- Start Portfolio Item -->
                <div class="portfolio-item cantho col-md-3">
                    <div class="portfolio-border">
                        <!-- Start Portfolio Item Thumb -->
                        <div class="portfolio-thumb">
                            <a href="#">
                                <div class="thumb-overlay"><i class="icon-link-1"></i></div>
                                <img alt="" src="~/Content/upload/images/portfolio-06.jpg" />
                            </a>
                        </div>
                        <!-- End Portfolio Item Thumb -->
                        <!-- Start Portfolio Item Details -->
                        <div class="portfolio-details">
                            <a href="#">
                                <h4>Event 6</h4>
                                <span>Can Tho</span>
                            </a>
                            <a href="#" class="like-link"><i class="icon-heart-1"></i><span>10</span></a>
                        </div>
                        <!-- End Portfolio Item Details -->
                    </div>
                </div>
                <!-- End Portfolio Item -->
                <!-- Start Portfolio Item -->
                <div class="portfolio-item hanoi col-md-3">
                    <div class="portfolio-border">
                        <!-- Start Portfolio Item Thumb -->
                        <div class="portfolio-thumb">
                            <a class="lightbox" title="This is an image title" href="~/Content/upload/images/portfolio-big-03.jpg">
                                <div class="thumb-overlay"><i class="icon-resize-full"></i></div>
                                <img alt="" src="~/Content/upload/images/portfolio-07.jpg" />
                            </a>
                        </div>
                        <!-- End Portfolio Item Thumb -->
                        <!-- Start Portfolio Item Details -->
                        <div class="portfolio-details">
                            <a href="#">
                                <h4>Event 7</h4>
                                <span>Ha Noi</span>
                            </a>
                            <a href="#" class="like-link"><i class="icon-heart-1"></i><span>7</span></a>
                        </div>
                        <!-- End Portfolio Item Details -->
                    </div>
                </div>
                <!-- End Portfolio Item -->
                <!-- Start Portfolio Item -->
                <div class="portfolio-item hue danang cantho col-md-3">
                    <div class="portfolio-border">
                        <!-- Start Portfolio Item Thumb -->
                        <div class="portfolio-thumb">
                            <a href="#">
                                <div class="thumb-overlay"><i class="icon-link-1"></i></div>
                                <img alt="" src="~/Content/upload/images/portfolio-08.jpg" />
                            </a>
                        </div>
                        <!-- End Portfolio Item Thumb -->
                        <!-- Start Portfolio Item Details -->
                        <div class="portfolio-details">
                            <a href="#">
                                <h4>Event 8</h4>
                                <span>Hue</span>
                                <span>Da Nang</span>
                                <span>Can Tho</span>
                            </a>
                            <a href="#" class="like-link"><i class="icon-heart-1"></i><span>4</span></a>
                        </div>
                        <!-- End Portfolio Item Details -->
                    </div>
                </div>
                <!-- End Portfolio Item -->

            </div>
            <!-- End Portfolio Items -->

        </div>

        <!-- Divider -->
        <div class="hr1" style="margin-top:25px; margin-bottom:25px;"></div>

        <!-- Start Pagination -->
        <div id="pagination">
            <span class="all-pages">Page 1 of 3</span>
            <span class="current page-num">1</span>
            <a class="page-num" href="#">2</a>
            <a class="page-num" href="#">3</a>
            <a class="next-page" href="#">Next</a>
        </div>
        <!-- End Pagination -->

    </div>

</div>
<!-- End Content -->
