@{
    ViewBag.Title = "Instruction";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!-- Page Content -->
<div class="col-md-9 page-content">

        <!-- Classic Heading -->
        <h4 class="classic-title"><span>Parallel Session Chair and Co-Chair</span></h4>

        <p>The 8th APCRSHR organizers are very pleased to have you as a session chair/co-chair during the conference at the Myanmar International Convention Center II in Nay Pyi Taw on February 23- 26, 2016. The following guidelines will provide you with basic information about the parallel session.</p>
        <h6 style="color: blue; font-weight: bold;">General instructions</h6>
        <p>
            1. &nbsp;&nbsp; Please check the conference program for the day and time of your session.<br>
            2. &nbsp;&nbsp; Attached are the abstracts of the oral presenters and their brief profiles. The session chair has five minutes at the beginning of the session to introduce the Co-chair and<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; presenters and five minutes to close the session and to give the certificates of appreciation to the presenters.<br>
            3. &nbsp;&nbsp; A parallel session will be 1.5 hours and it has Three Speakers. One hour will be utilized for paper presentation. Each speaker is given a maximum of 15 minutes to present<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; his/her paper.<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The remaining 20-30 minutes will be used for open forum to clarify some points and discuss the presentations.<br>
            4. &nbsp;&nbsp; The respective liaison must make sure that the presenter is in the session room 15 minutes prior to the scheduled presentation to ensure that the session begins on time.<br>
            5. &nbsp;&nbsp; The chairs will facilitate the open forum. <strong><em>(Please keep Q&amp;A to 20-30 minutes as session time is limited.) </em></strong><br>
            6. &nbsp;&nbsp; The chair will summarize and close the discussion.<br>
            7. &nbsp;&nbsp; The respective liaison will present the certificates to the speakers.<br>
            &nbsp;
        </p>


        <!-- Classic Heading -->
        <h4 class="classic-title"><span>Parallel Session Oral Presentation</span></h4>

        <p>The 8th APCRSHR organizers are very pleased to have you as a parallel session speaker during the conference at the Myanmar International Convention Center II in Nay Pyi Taw on February 23- 26, 2016. The following guidelines provide you with basic information about the oral presentation.</p>
        <h6 style="color: blue; font-weight: bold;">General instructions</h6>
        <p>
            1. &nbsp;&nbsp; A parallel session has <u>three speakers</u> for 1.5 hours (90 minutes). Each speaker is given a maximum of 15 minutes to make the oral presentation. The <u>three speakers</u> will<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; have a maximum time of one hour (60 minutes). The remaining half an hour will be used for open forum to provide some time to discuss and to clarify some points of the<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; presentations.<br>
            &nbsp;<br>
            2. &nbsp;&nbsp; A speaker is encouraged to utilize the Microsoft power point software for the oral presentation. The Scientific Committee would like the oral presenters to submit their<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; power point presentations before coming to the 8<sup>th</sup> APCRSHR. This will provide the parallel session chairpersons ample time to study the papers and for the organizers<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; to integrate the papers in the appropriate parallel sessions.<br>
            &nbsp;<br>
            3. &nbsp;&nbsp; All the presentation and other related materials (such as videos and pictures) should be reviewed or updated by the oral presenter one or two days before the presentation<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; at the Conference Speakers’ Viewing Room with the use of a USB saving device or a CD. This room has a number of computers.<br>
            &nbsp;<br>
            4. &nbsp;&nbsp; Parallel session rooms are equipped with master computers and a laser pointer. Thus no personal computers will be allowed for the presentations during the parallel<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; sessions.<br>
            &nbsp;<br>
            5. &nbsp;&nbsp; For Macintosh and non-Macintosh users, prepare your presentation according to the following:
        </p>


        <!-- Classic Heading -->
        <h4 class="classic-title"><span>Parallel Session Poster Presentation</span></h4>

        <p>The 8th APCRSHR organizers are very pleased to have you as a parallel session speaker during the conference at the Myanmar International Convention Center II in Nay Pyi Taw on February 23- 26, 2016. The following guidelines provide you with basic information about the oral presentation.</p>
        <h6 style="color: blue; font-weight: bold;">General instructions</h6>
        <p>
            1. &nbsp;&nbsp; A parallel session has <u>three speakers</u> for 1.5 hours (90 minutes). Each speaker is given a maximum of 15 minutes to make the oral presentation. The <u>three speakers</u> will<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; have a maximum time of one hour (60 minutes). The remaining half an hour will be used for open forum to provide some time to discuss and to clarify some points of the<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; presentations.<br>
            &nbsp;<br>
            2. &nbsp;&nbsp; A speaker is encouraged to utilize the Microsoft power point software for the oral presentation. The Scientific Committee would like the oral presenters to submit their<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; power point presentations before coming to the 8<sup>th</sup> APCRSHR. This will provide the parallel session chairpersons ample time to study the papers and for the organizers<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; to integrate the papers in the appropriate parallel sessions.<br>
            &nbsp;<br>
            3. &nbsp;&nbsp; All the presentation and other related materials (such as videos and pictures) should be reviewed or updated by the oral presenter one or two days before the presentation<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; at the Conference Speakers’ Viewing Room with the use of a USB saving device or a CD. This room has a number of computers.<br>
            &nbsp;<br>
            4. &nbsp;&nbsp; Parallel session rooms are equipped with master computers and a laser pointer. Thus no personal computers will be allowed for the presentations during the parallel<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; sessions.<br>
            &nbsp;<br>
            5. &nbsp;&nbsp; For Macintosh and non-Macintosh users, prepare your presentation according to the following:
        </p>

</div>
<!-- End Content -->
