@{
    ViewBag.Title = "International";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="col-md-9 page-content">

    <!-- Classic Heading -->
    <h4 class="classic-title"><span>International Steering Committe</span></h4>

    <!-- InstanceBeginEditable name="CONTENT" -->
    <div id="subbox" class="committee">
        <h3>The Organizing Committee of APACT Japan</h3>

        <table class="tb01 mb50 mt20">
            <tbody>
                <tr>
                    <th class="top">Organizers</th>
                    <td class="top fWB">
                        <p>
                            Japan Anti-Tuberculosis Association (JATA)<br>
                            Japan Society for Tobacco Control (JSTC)<br>
                            Japan Medical-Dental Association for Tobacco Control (JMDATC)<br>
                            Japan NGO Council on Tobacco or Health
                        </p>
                    </td>
                </tr>
                <tr>
                    <th>Honorary President</th>
                    <td>
                        <p>
                            President of Japan Medical Association<br>
                            President of Japan Dental Association<br>
                            President of Japan Pharmacist Association<br>
                            President of Japan Nurses Association
                        </p>
                    </td>
                </tr>
                <tr>
                    <th>Honorary Vice President</th>
                    <td>
                        <p>
                            President of Chiba Medical Association<br>
                            President of Chiba Dental Association<br>
                            President of Chiba Pharmacist Association<br>
                            President of Chiba Nurses Association
                        </p>
                    </td>
                </tr>
                <tr>
                    <th>President</th>
                    <td><p>Tadao Shimao, MD (JATA)</p></td>
                </tr>
                <tr>
                    <th>Vice President</th>
                    <td>
                        <p>
                            Manabu Sakuta, MD (JSTC)<br>
                            Akira Ohshima, MD (JMDATC)
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Divider -->
        <div class="hr1" style="margin-top:25px; margin-bottom:25px;"></div>

        <h3>Sponsors (Tentative)</h3>

        <!-- Divider -->
        <div class="hr1" style="margin-top:25px; margin-bottom:25px;"></div>

        <table class="w650 mt20">
            <tbody>
                <tr>
                    <td class="spon_top">
                        <p>
                            Ministry of Health, Labor, &amp; Welfare<br />
                            Ministry of Education and Science<br />
                            Ministry of foreign Affairs<br />
                            WHO Health Development Center<br />
                            Embassy of U.S.A.<br />
                            Embassy of Canada<br />
                            Embassy of China<br />
                            Embassy of Singapore<br />
                            Embassy of Taiwan<br />
                            Other Asian Embassy<br />
                        </p>
                    </td>
                    <td class="spon_top">
                        <p style="margin-left: 20px;">
                            Chiba Pref. and Chiba City<br />
                            National Cancer Institute<br />
                            Medical Conference (18 org.)<br />
                            Anti-tobacco Advocacy (100 org.)<br />
                            Diet Members’ Association of Tobacco Control<br />
                            Foundation for Promotion of Cancer Research <br />
                            Japan Health Promotion and Fitness Foundation<br />
                            Japan Public Health Association<br />
                            Japan Heart Foundation<br />
                            Japan Cancer Society<br />
                            Others<br />
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
