@{
    ViewBag.Title = "NewsText";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="col-md-9 page-content">

    <!-- Classic Heading -->
    <h4 class="classic-title"><span>8th APCRSHR Booth Exhibition at 25th Silver Jubilee Anniversary of MMCWA</span></h4>

    <!-- Start Post -->
    <div class="blog-post image-post">
        <!--Description-->
        <div class="post-content-nopadding">
            <p>The Theme, objectives and information on Participation and Registration are announced at the exhibit booth.</p>
        </div>

        <!-- Post Thumb -->
        <div class="post-head">
            <a class="lightbox" title="This is an image title" href="~/Content/upload/images/gallery_trangan_full.jpg">
                <div class="thumb-overlay"><i class="icon-resize-full"></i></div>
                <img alt="" src="~/Content/upload/images/gallery_trangan.jpg">
            </a>
        </div>
        <!-- Post Content -->
        <div class="post-content-nopadding">
            <p>The Theme, objectives and information on Participation and Registration are announced at the exhibit booth.</p>
        </div>

        <!--Meta post-->
        <ul class="post-meta">
            <li>December 30, 2013</li>
            <li><a href="#">Posted by</a>, <a href="#">APCRSHR</a></li>
        </ul>
        <!--Share-->
        <div class="post-share-contet">
            <span>Share This:</span>
            <a class="facebook" href="#"><i class="icon-facebook"></i></a>
            <a class="twitter" href="#"><i class="icon-twitter"></i></a>
            <a class="gplus" href="#"><i class="icon-gplus"></i></a>
            <a class="linkedin" href="#"><i class="icon-linkedin-1"></i></a>
        </div>
    </div>
    <!-- End Post -->

</div>
