@{
    ViewBag.Title = "Pre Youth Conference";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!-- Page Content -->
<div class="col-md-9 page-content">

    <!-- Classic Heading -->
    <h4 class="classic-title"><span>Pre Youth Conference</span></h4>

    <!-- InstanceBeginEditable name="CONTENT" -->
    <div id="subbox" class="conference conf01">
        <h3>Youth Conference</h3>
        <h4>Theme</h4>
        <div class="txtBox">
            <p class="txt01">
                United for Tobacco Free World<br>
                - What should WE do? -
            </p>
        </div>

        <h4>Date</h4>
        <div class="txtBox">
            <p class="txt01">Sunday, August 18th, 9:00 - 17:30</p>
        </div>

        <h4>Venue</h4>
        <div class="txtBox">
            <p>
                Makuhari Messe in Chiba, Japan<br>
                2-1, Nakase, Mihama-ku, Chiba-city, 261-0023 Japan<br>
                TEL <span class="skype_c2c_print_container notranslate">+81-43-296-0001</span><span id="skype_c2c_container" class="skype_c2c_container notranslate" dir="ltr" tabindex="-1" onmouseover="SkypeClick2Call.MenuInjectionHandler.showMenu(this, event)" onmouseout="SkypeClick2Call.MenuInjectionHandler.hideMenu(this, event)" onclick="SkypeClick2Call.MenuInjectionHandler.makeCall(this, event)" data-numbertocall="+81432960001" data-numbertype="paid" data-isfreecall="false" data-isrtl="false" data-ismobile="false"><span class="skype_c2c_highlighting_inactive_common" dir="ltr" skypeaction="skype_dropdown"><span class="skype_c2c_textarea_span" id="non_free_num_ui"><img width="0" height="0" class="skype_c2c_logo_img" src="chrome-extension://lifbcibllhkdhoafpjfnlhfpfgnpldfl/call_skype_logo.png"><span class="skype_c2c_text_span">+81-43-296-0001</span><span class="skype_c2c_free_text_span"></span></span></span></span><br>
                <a href="http://www.m-messe.co.jp/en/index.html" target="_blank">http://www.m-messe.co.jp/en/index.html</a>
            </p>
        </div>

        <h4>Conference Room</h4>
        <div class="txtBox">
            <p>Room 302 in <a href="http://www.m-messe.co.jp/en/facility/facility/facility_03.html" target="_blank">International Conference Hall</a>, <a href="http://www.apact.jp/location.html" target="_blank">Makuhari Messe</a></p>
        </div>

        <h4>Official Language</h4>
        <div class="txtBox">
            <h5>English</h5>
            <p>Simultaneous interpretations (English to Japanese ) will be available</p>
            <p>Those who would like to borrow interpreter, please bring official ID with you. One of the following IDs are available; passport, driver license, national insurance card, student ID and so on</p>
        </div>

        <h4>Objectives of the Conference</h4>
        <div class="txtBox">
            <p>Raise awareness for tobacco epidemics especially among young generations and create global young leaders in next generations.</p>
            <p>Create Asia – pacific networks among young generations in order to address tobacco issues.</p>
        </div>

        <h4>Program</h4>
        <div class="txtBox">
            <h5>Introduction</h5>
            <p>
                <h5>Key Note lecture 1</h5>
                <strong>"Youth and tobacco advertising, promotion and sponsorship"</strong><br>
                Dr. Douglas W. Bettcher<br>
                Director, Prevention of Non-communicable Diseases (PND), World Health Organization
            </p>
            <p>
                <h5>Key Note lecture 2</h5>
                <strong>"What is done and what is to be done"</strong><br>
                Dr. Yumiko Mochizuki<br>
                Division Chief, Tobacco Policy research Division, Center for Cancer Control
            </p>
            <p>
                <h5>Lunch Session</h5>
                <strong>"A popular Buddhist temple as a starting place for tobacco free initiative"</strong><br>
                Akinori Kuruma, M.D., Ph.D.<br>
                Priest-in-chief Koganji Temple Tokyo Japan<br>
                Councilor of Japan Society for Tobacco Control (JSTC)<br>
                Specialist physician for cardiology and smoking cessation
            </p>
            <p>
                <h5>Poster presentation</h5>
                Share good practices related to tobacco control among countries.
            </p>
            <p>
                <h5>World Café</h5>
                Divided into small groups and discuss challenges and countermeasures for tobacco epidemics.
            </p>
            <p>
                <h5>Keynote remarks</h5>
                <strong>"Youth Activism: Empowering the Next Generation of Tobacco Control Partners!"</strong><br>
                Ms. Nicole M. Sutton<br>
                Project Director, REAL: Hawaii Youth Movement Exposing the Tobacco Industry, <br>
                School of Nursing and Dental Hygiene at University of Hawaii - Manoa
            </p>
            <h5>Closing</h5>
        </div>

        <h4>Fee</h4>
        <div class="txtBox">
            <h5>Free</h5>
            <p>All costs related with conference participation, including travel, accommodation meals except lunch on 18th shall be covered by individual participants, not by the conference organizers.</p>
            <p>Lunch on 18th will be provided by conference organizers.</p>
            <p><u>If you join APACT youth conference (August 18th), you will be able to join APACT (August 19th to 21st) at 8,000 JPY (official fee; 10,000 JPY for students, 60,000 JPY for non-student delegates).</u> If you would like to participate both youth conference and APACT, please register both APACT and APACT youth conference and please bring ID with you on August 18th in order to check your age.</p>
        </div>

        <h4>Social Activities</h4>
        <div class="txtBox">
            <p class="mb10">Networking party among participants will be held. We will give you the details later.</p>
            <table class="tb01 mb30">
                <tbody>
                    <tr>
                        <th class="top">Date</th>
                        <td class="top">Saturday, August 17, 19:00 - 21:00</td>
                    </tr>
                    <tr>
                        <th>Venue</th>
                        <td>Makuhari (TBA)</td>
                    </tr>
                    <tr>
                        <th>Participation fee</th>
                        <td>4,000-5,000 JPY (TBA)</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h4>Registration</h4>
        <div class="txtBox">
            <p class="mt15 red">*Online Registration has been closed. On-site Registration is available. Please come to the room directly.</p>
            <p class="mt15">
                <input type="submit" name="submit" class="button" id="submit_btn" value="Registration for Youth Conference">
            </p>
            <table class="tb03 mt15 mb30">
                <tbody>
                    <tr>
                        <th>Registration deadline</th>
                        <td>Wednesday, July 31<sup>st</sup></td>
                    </tr>
                </tbody>
            </table>
        </div>


        <h4>Hotel Information</h4>
        <div class="txtBox">
            <p>Please see APACT <a href="http://www.apact.jp/hotel_info.html" target="_blank">hotel information</a></p>
            <p>We do not support any expense for accommodation</p>
        </div>

        <h4>Contact Information</h4>
        <div class="txtBox">
            <p>For any inquiries, please contact <a href="mailto:info@gmail.com">apactyouth2013@gmail.com</a></p>
        </div>
    </div>
    <!-- InstanceEndEditable -->
</div>
