@{
    ViewBag.Title = "Program Main Conference";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="col-md-9 page-content">

    <!-- Classic Heading -->
    <h4 class="classic-title"><span>Program Main Conference</span></h4>

    <!-- InstanceBeginEditable name="CONTENT" -->
    <div id="subbox" class="program">

        <div class="program4">
            <h4>Detailed Program</h4>
            <table class="mb20">
                <tbody>
                    <tr>
                        <td class="pr10"><a href="#" target="_blank"><img src="~/Content/upload/images/program_btn01_3.jpg" width="171" height="132" alt="" class="over1"></a></td>
                        <td class="pr10"><a href="#"><img src="~/Content/upload/images/program_btn02_2-2.jpg" width="171" height="132" alt="" class="over1"></a></td>
                        <td class="pr10"><a href="#" target="_blank"><img src="~/Content/upload/images/program_btn03_2.jpg" width="158" height="132" alt="" class="over1"></a></td>
                        <td><a href="#" target="_blank"><img src="~/Content/upload/images/program_btn04_3.jpg" width="142" height="103" alt="" class="over1"></a></td>
                    </tr>
                    <tr>
                        <td colspan="4" class=" pt25">
                            <br />
                            <input type="submit" name="submit" class="button" id="submit_btn" value="Luncheon Seminar">
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="submit" name="submit" class="button" id="submit_btn" value="Poster (PDF)">
                        </td>
                    </tr>
                </tbody>
            </table>
            <p>&nbsp;</p>
        </div>
        <div class="program2">
            <h4>Plenary Lecture</h4>
            <table class="tb03 mb20">
                <tbody>
                    <tr>
                        <th colspan="2" class="top"><span class="uline">PL : Plenary session</span></th>
                    </tr>
                    <tr>
                        <th nowrap="nowrap">Opening Lecture 1</th>
                        <td>David Yen Memorial Lecture: Evolution and Perspective of APACT</td>
                    </tr>
                    <tr>
                        <th>Opening Lecture 2</th>
                        <td>The Endgame</td>
                    </tr>
                    <tr>
                        <th>PL1</th>
                        <td>Where are we with FCTC ? (1) Achievement and challenges</td>
                    </tr>
                    <tr>
                        <th>PL2</th>
                        <td>NCD Commitment. Fighting together with other health problems</td>
                    </tr>
                    <tr>
                        <th>PL3</th>
                        <td>MOF Summit. Price and taxations. Countries' experiences</td>
                    </tr>
                    <tr>
                        <th>PL4</th>
                        <td>Where are we with FCTC ? (2) Obstacles and ways to overcome them</td>
                    </tr>
                </tbody>
            </table>

            <h4>Symposium</h4>
            <table class="tb03 mb50">
                <tbody>
                    <tr>
                        <th colspan="2" class="top"><span class="uline">S : Symposium / Oral session</span></th>
                    </tr>
                    <tr>
                        <th>S1</th>
                        <td>Protection from exposure to tobacco smoke. 1. Legislative actions by the local autonomy</td>
                    </tr>
                    <tr>
                        <th>S2</th>
                        <td>Illness-specific issues. 1. Smoking and COPD</td>
                    </tr>
                    <tr>
                        <th>S3</th>
                        <td>Illness specific issues. 2. Smoking and oral health</td>
                    </tr>
                    <tr>
                        <th>S4</th>
                        <td>Illness specific issues. 3. Smoking and Heart diseases</td>
                    </tr>
                    <tr>
                        <th>S5</th>
                        <td>Protection from exposure to tobacco smoke. 2. Toward smoke-free workplace and public space</td>
                    </tr>
                    <tr>
                        <th>S6</th>
                        <td>Illness specific issues. 4. Smoking and Tuberculosis</td>
                    </tr>
                    <tr>
                        <th>S7</th>
                        <td>Women and Tobacco Use</td>
                    </tr>
                    <tr>
                        <th>S8</th>
                        <td>Roles of nurses and other health professionals in the tobacco epidemic</td>
                    </tr>
                    <tr>
                        <th>S9</th>
                        <td>Treatment of tobacco dependence</td>
                    </tr>
                    <tr>
                        <th>S10</th>
                        <td>Education, communication, training and public awareness</td>
                    </tr>
                    <tr>
                        <th>S11</th>
                        <td>Price and taxations. General discussions</td>
                    </tr>
                    <tr>
                        <th>S12</th>
                        <td>Other forms of tobacco / Substances simulating tobacco</td>
                    </tr>
                    <tr>
                        <th>S13</th>
                        <td>Litigation/Regulation of the contents of tobacco products and of tobacco product disclosure</td>
                    </tr>
                    <tr>
                        <th>S14</th>
                        <td>Tobacco industry and Corporate Social Responsibility</td>
                    </tr>
                    <tr>
                        <th>S15</th>
                        <td>Packaging and labeling of tobacco products, Countries' experiences</td>
                    </tr>
                    <tr>
                        <th>S16</th>
                        <td>Issues of trade and tobacco market opening and APACT: Ending the game</td>
                    </tr>
                    <tr>
                        <th>S17</th>
                        <td>Protection of public health policies from commercial and other vested interests of the tobacco industry / Liability</td>
                    </tr>
                    <tr>
                        <th>S18</th>
                        <td>Inequities in tobacco use and tobacco control and its implication for tobacco control</td>
                    </tr>
                    <tr>
                        <th>S19</th>
                        <td>APACT Youth for the future demand</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="program3">
            <h4>A Lecture Open to Public</h4>
            <p class="txtAC mb25 mt15"><img src="~/Content/upload/images/program_3_img.jpg" width="100%" height="236" alt="Extension Lecture"></p>
            <table class="tb01 mb30 mt20">
                <tbody>
                    <tr>
                        <th class="top">Time</th>
                        <td class="top">12:30:00 &nbsp;&nbsp; - 12/12/2015</td>
                    </tr>
                    <tr>
                        <th>Location</th>
                        <td>123, Ba Dinh, Ha Noi</td>
                    </tr>
                    <tr>
                        <th>Presenter</th>
                        <td>Tran Hao</td>
                    </tr>
                    <tr>
                        <th colspan="2" class="f90 lineR"><a href="pdf/program_ExtensionLecture.pdf" target="_blank"><span class="fWN">Health</span></a></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- InstanceEndEditable -->

</div>
