@{
    ViewBag.Title = "RegistrationCompleted";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="col-md-9 page-content">
    <h2>Your registration is completed, an activation code was sent to your email!</h2>
</div>
