@{
    ViewBag.Title = "Registration Form";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<!-- Color CSS -->
<link rel="stylesheet" href="~/Areas/Administrator/css/themes.css">
<link rel="stylesheet" href="~/Content/form.css">
<!-- jQuery UI -->
<script src="~/Areas/Administrator/js/plugins/jquery-ui/jquery-ui.js"></script>
<!-- Form -->
<script src="~/Areas/Administrator/js/plugins/form/jquery.form.min.js"></script>
<!-- Wizard -->
<script src="~/Areas/Administrator/js/plugins/wizard/jquery.form.wizard.min.js"></script>
<!-- Bootbox -->
<script src="~/Areas/Administrator/js/plugins/bootbox/jquery.bootbox.js"></script>
<script src="~/Areas/Administrator/js/plugins/validation/jquery.validate.min.js"></script>
<script src="~/Areas/Administrator/js/plugins/validation/additional-methods.min.js"></script>
<!-- Masked inputs -->
<script src="~/Areas/Administrator/js/plugins/maskedinput/jquery.maskedinput.min.js"></script>

<div class="col-sm-9">
    @if (Session["User-UserName"] == null)
    {
        <div class="big-title text-center">
            <h1>This feature <span class="accent-color"><strong>under construction</strong></span></h1>
            <p class="title-desc">Thank You</p>
        </div>
    }
    else
    {
        <div class="box box-color box-bordered">
        <div class="box-title">
            <h3>
                <i class="fa fa-magic"></i>
                Step overview
            </h3>
        </div>
        <div class="box-content nopadding">
            <form action="#" method="POST" class='form-horizontal form-wizard form-validate' id="ss">
                <div class="step" id="firstStep">
                    <ul class="wizard-steps steps-3">
                        <li class='active'>
                            <div class="single-step">
                                <span class="title">1</span>
                                <span class="circle">
                                    <span class="active"></span>
                                </span>
                                <span class="description">
                                    General information
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="single-step">
                                <span class="title">2</span>
                                <span class="circle">
                                </span>
                                <span class="description">
                                    Contact information
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="single-step">
                                <span class="title">3</span>
                                <span class="circle">
                                </span>
                                <span class="description">
                                    Registration information
                                </span>
                            </div>
                        </li>
                    </ul>
                    <div class="form-group">
                        <label for="firstname" class="control-label col-sm-3">Title <span class="validation-span-required">(*)</span></label>
                        <div class="col-sm-9">
                            <select name="Title" id="Title" onchange="popupSelectInput(this, 'Title')" data-rule-required="true">
                                <option value="">-- Chose one --</option>
                                <option value="Dr">Dr</option>
                                <option value="Mr">Mr</option>
                                <option value="Mrs">Mrs</option>
                                <option value="Ms">Ms</option>
                                <option value="Others">Others</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="anotherelem" class="control-label col-sm-3">Full name <span class="validation-span-required">(*)</span></label>
                        <div class="col-sm-9">
                            <input type="text" name="FullName" id="FullName" class="form-control" data-rule-required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="additionalfield" class="control-label col-sm-3">Sex <span class="validation-span-required">(*)</span></label>
                        <div class="col-sm-9">
                            <select name="Sex" id="Sex" onchange="popupSelectInput(this, 'Sex')" data-rule-required="true">
                                <option value="">-- Chose one --</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Others">Others</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="additionalfield" class="control-label col-sm-3">Meal preference <span class="validation-span-required">(*)</span></label>
                        <div class="col-sm-9">
                            <select name="MealPreference" id="MealPreference" data-rule-required="true">
                                <option value="">-- Chose one --</option>
                                <option value="Vegetarian">Vegetarian</option>
                                <option value="Non- vegetarian">Non- vegetarian</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="anotherelem" class="control-label col-sm-3">Disability or special treatment</label>
                        <div class="col-sm-9">
                            <input type="text" name="DisabilityOrTreatment" id="DisabilityOrTreatment" class="form-control" data-rule-required="true">
                        </div>
                    </div>
                </div>
                <div class="step" id="secondStep">
                    <ul class="wizard-steps steps-3">
                        <li>
                            <div class="single-step">
                                <span class="title">1</span>
                                <span class="circle">
                                </span>
                                <span class="description">
                                    General information
                                </span>
                            </div>
                        </li>
                        <li class='active'>
                            <div class="single-step">
                                <span class="title">
                                    2
                                </span>
                                <span class="circle">
                                    <span class="active"></span>
                                </span>
                                <span class="description">
                                    Contact information
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="single-step">
                                <span class="title">
                                    3
                                </span>
                                <span class="circle">
                                </span>
                                <span class="description">
                                    Registration information
                                </span>
                            </div>
                        </li>
                    </ul>
                    <div class="form-group">
                        <label for="anotherelem" class="control-label col-sm-3">Email address <span class="validation-span-required">(*)</span></label>
                        <div class="col-sm-9">
                            <input type="text" name="Email" id="Email" class="form-control" data-rule-required="true" data-rule-email="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="anotherelem" class="control-label col-sm-3">Other email address</label>
                        <div class="col-sm-9">
                            <input type="text" name="OtherEmail" id="OtherEmail" class="form-control" data-rule-email="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="anotherelem" class="control-label col-sm-3">Phone number <span class="validation-span-required">(*)</span></label>
                        <div class="col-sm-9">
                            <input type="text" name="Phone" id="Phone" class="form-control" data-rule-required="true" data-rule-number="true" data-rule-minlength="8">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="anotherelem" class="control-label col-sm-3">Address <span class="validation-span-required">(*)</span></label>
                        <div class="col-sm-9">
                            <input type="text" name="Address" id="Address" class="form-control" data-rule-required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="anotherelem" class="control-label col-sm-3">City <span class="validation-span-required">(*)</span></label>
                        <div class="col-sm-9">
                            <input type="text" name="City" id="City" class="form-control" data-rule-required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="text" class="control-label col-sm-3">Country <span class="validation-span-required">(*)</span></label>
                        <div class="col-sm-9">
                            <select name="Country" id="Country" data-rule-required="true">
                                <option value="">-- Chose one --</option>
                                <option value="vietnam">Viet Name</option>
                                <option value="usa">USA</option>
                            </select>
                        </div>
                    </div>
                    <div class="box-title">
                        <h3>
                            <i class="fa fa-check"></i>
                            Work place information
                        </h3>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="anotherelem" class="control-label col-sm-3">Address</label>
                        <div class="col-sm-9">
                            <input type="text" name="WorkAddress" id="WorkAddress" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="anotherelem" class="control-label col-sm-3">Organization</label>
                        <div class="col-sm-9">
                            <input type="text" name="Organization" id="Organization" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="step" id="thirdStep">
                    <ul class="wizard-steps steps-3">
                        <li>
                            <div class="single-step">
                                <span class="title">
                                    1
                                </span>
                                <span class="circle">
                                </span>
                                <span class="description">
                                    General information
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="single-step">
                                <span class="title">
                                    2
                                </span>
                                <span class="circle">
                                </span>
                                <span class="description">
                                    Contact information
                                </span>
                            </div>
                        </li>
                        <li class='active'>
                            <div class="single-step">
                                <span class="title">
                                    3
                                </span>
                                <span class="circle">
                                    <span class="active"></span>
                                </span>
                                <span class="description">
                                    Registration information
                                </span>
                            </div>
                        </li>
                    </ul>
                    <div class="form-group">
                        <label for="additionalfield" class="control-label col-sm-3">Participant type <span class="validation-span-required">(*)</span></label>
                        <div class="col-sm-9">
                            <select name="ParticipantType" id="ParticipantType" data-rule-required="true">
                                <option value="">-- Chose one --</option>
                                <option value="VIP">VIP</option>
                                <option value="Plenary Speaker">Plenary Speaker</option>
                                <option value="Invited Guest">Invited Guest</option>
                                <option value="Oral Presenter">Oral Presenter</option>
                                <option value="Poster Presenter">Poster Presenter</option>
                                <option value="Youth Scholar">Youth Scholar</option>
                                <option value="Participant">Participant</option>
                                <option value="Press">Press</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="text" class="control-label col-sm-3">Youth conference <span class="validation-span-required">(*)</span></label>
                        <div class="col-sm-9">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="YouthConference" value="true">[age 15-29-(1988 - 2002)]: (Yes/ No).
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="box-title">
                        <h3>
                            <i class="fa fa-check"></i>
                            Visa/Guest management information
                        </h3>
                    </div>
                    <div class="form-group">
                        <i>Your information will be submitted to Vietnam Department of Immigration as the security requirement.</i>
                    </div>
                    <div class="form-group">
                        <label for="anotherelem" class="control-label col-sm-3">Date of birth <span class="validation-span-required">(*)</span></label>
                        <div class="col-sm-9">
                            <input type="text" name="DateOfBirth" id="DateOfBirth" class="form-control mask_date" data-rule-required="true" data-rule-date="true">
                            <i>(yyyy/mm/dd)</i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="anotherelem" class="control-label col-sm-3">Original nationality <span class="validation-span-required">(*)</span></label>
                        <div class="col-sm-9">
                            <input type="text" name="OriginalNationality" id="OriginalNationality" class="form-control" data-rule-required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="anotherelem" class="control-label col-sm-3">Current nationality <span class="validation-span-required">(*)</span></label>
                        <div class="col-sm-9">
                            <input type="text" name="CurrentNationality" id="CurrentNationality" class="form-control" data-rule-required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="anotherelem" class="control-label col-sm-3">Passport number <span class="validation-span-required">(*)</span></label>
                        <div class="col-sm-9">
                            <input type="text" name="PassportNumber" id="PassportNumber" class="form-control" data-rule-required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="additionalfield" class="control-label col-sm-3">Type of passport <span class="validation-span-required">(*)</span></label>
                        <div class="col-sm-9">
                            <select name="TypeOfPassport" id="TypeOfPassport" data-rule-required="true">
                                <option value="">-- Chose one --</option>
                                <option value="Regular">Regular</option>
                                <option value="Official">Official</option>
                                <option value="Diplomatic">Diplomatic</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="anotherelem" class="control-label col-sm-3">Occupation <span class="validation-span-required">(*)</span></label>
                        <div class="col-sm-9">
                            <input type="text" name="Occupation" id="Occupation" class="form-control" data-rule-required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="anotherelem" class="control-label col-sm-3">Date of Passport issue <span class="validation-span-required">(*)</span></label>
                        <div class="col-sm-9">
                            <input type="text" name="DateOfPassportIssue" id="DateOfPassportIssue" class="form-control mask_date" data-rule-required="true" data-rule-date="true">
                            <i>(yyyy/mm/dd)</i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="anotherelem" class="control-label col-sm-3">Date of Passport expiry <span class="validation-span-required">(*)</span></label>
                        <div class="col-sm-9">
                            <input type="text" name="DateOfPassportExpiry" id="DateOfPassportExpiry" class="form-control mask_date" data-rule-required="true" data-rule-date="true">
                            <i>(yyyy/mm/dd)</i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="file" class="control-label col-sm-3">Photocopies of the first 3 pages of the passport <span class="validation-span-required">(*)</span></label>
                        <div class="col-sm-9">
                            <input type="file" name="file" id="file" class="form-control" data-rule-required="true">
                            <span class="help-block">Only .jpg, .png (Max Size: 100MB)</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="text" class="control-label col-sm-3">Detail address of the Embassy of Viet Nam in your country which you will apply for your Visa to enter Viet Nam (for all delegates who need visa)</label>
                        <div class="col-sm-9">
                            <textarea name="textare" id="tt333" class="form-control ui-wizard-content" rows="7" placeholder="You can provide additional information in here..."></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <input type="reset" class="btn" value="Back" id="back">
                    <input type="submit" class="btn btn-primary" value="Submit" id="next">
                </div>
            </form>
        </div>
    </div>
    }
</div>
<script type="text/javascript">
    function popupSelectInput(select, field) {
        var value = $(select).find(":selected").val();
        if (value == "Others") {
            bootbox.prompt("Please input your '" + field + "'?", function (result) {
                if (result === null) {
                    $(select).prop("selectedIndex", 0);
                } else {
                    if ($(select).find("option[value=" + result + "]").val() != null) {
                        $(select).val(result);
                    } else {
                        var option = "<option value='" + result + "'>" + result + "</option>";
                        $(select).find("option[value=Others]").before(option);
                        $(select).val(result);
                    }
                }
            });
        }
    }
</script>
