@{
    ViewBag.Title = "RegistrationCompleted";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="col-md-9 page-content">
    <h2>Thanks you! Your registration is completed</h2>
</div>
