<footer>
    <div class="container">
        <div class="row footer-widgets">

            <!-- Start Contact Widget -->
            <div class="col-md-8">
                <div class="footer-widget contact-widget">
                    <h4>Contact info<span class="head-line"></span></h4>
                    <ul>
                        <li><span>Address:</span> Room 503 – 504, E1 Building, 5th Floor, Trung Tu Diplomatic Compound, 6 Dang Van Ngu, Dong Da, Hanoi, Vietnam</li>
                        <li><span>Tel:</span> (+84) 4 37368065/ (+84) 4 62662348</li>
                        <li><span>Fax:</span> (+84) 4 37366265</li>
                        <li><span>Email:</span> secretariat@apcrshr9vn.org</li>
                        <li><span>Website:</span> http://apcrshr9vn.org</li>
                    </ul>
                </div>
            </div>
            <!-- End Contact Widget -->

            <!-- Start Subscribe & Social Links Widget -->
            <div class="col-md-4">
                <div class="footer-widget social-widget">
                    <h4>Follow Us<span class="head-line"></span></h4>
                    <ul class="social-icons">
                        <li>
                            <a target="_blank" class="facebook" href="https://www.facebook.com/9thAPCRSHR/"><i class="icon-facebook-2"></i></a>
                        </li>
                        <!--<li>
                            <a class="twitter" href="#"><i class="icon-twitter-2"></i></a>
                        </li>
                        <li>
                            <a class="google" href="#"><i class="icon-gplus-1"></i></a>
                        </li>-->
                        <li>
                            <a target="_blank" class="linkdin" href="https://www.linkedin.com/company/vietnam-public-health-association"><i class="icon-linkedin-1"></i></a>
                        </li>
                        <li>
                            <a target="_blank" class="youtube" href="https://www.youtube.com/c/HoiYTCCVietnamVPHA"><i class="icon-youtube"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Subscribe & Social Links Widget -->

    </div>
</footer>
