<div class="hidden-header"></div>
<header class="clearfix">

    <!-- Start Top Bar -->
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <!-- Start Social Links -->
                    <ul class="social-list">
                        <li>
                            <a target="_blank" class="facebook sh-tooltip" data-placement="bottom" title="Facebook" href="https://www.facebook.com/groups/251140708285806/"><i class="icon-facebook-2"></i></a>
                        </li>
                        <!--<li>
                            <a class="twitter sh-tooltip" data-placement="bottom" title="Twitter" href="#"><i class="icon-twitter-2"></i></a>
                        </li>
                        <li>
                            <a class="google sh-tooltip" data-placement="bottom" title="Google Plus" href="#"><i class="icon-gplus"></i></a>
                        </li>-->
                        <li>
                            <a target="_blank" class="linkdin sh-tooltip" data-placement="bottom" title="Linkedin" href="https://www.linkedin.com/company/vietnam-public-health-association"><i class="icon-linkedin"></i></a>
                        </li>
                        <li>
                            <a target="_blank" class="youtube sh-tooltip" data-placement="bottom" title="Youtube" href="https://www.youtube.com/c/HoiYTCCVietnamVPHA"><i class="icon-youtube"></i></a>
                        </li>
                    </ul>
                    <!-- End Social Links -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Top Bar -->

</header>