@{
    ViewBag.Title = "Error";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Cảnh báo!&nbsp;&nbsp;&nbsp; </strong>BẠN KHÔNG CÓ QUYỀN TRUY CẬP VÀO MỤC NÀY.
        </div>
    </div>
</div>
