@{
    ViewBag.Title = "Abstract Submission Main Conference";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!-- Page Content -->
<div class="col-md-9 page-content">

    <!-- Classic Heading -->
    <h4 class="classic-title"><span>Abstract Submission Main Conference</span></h4>

    <!-- InstanceBeginEditable name="CONTENT" -->
    <div id="subbox" class="submission">
        <h3>Call for Abstracts</h3>
        <h4>Outline</h4>
        <!--<h4>Abstract Submission Deadline Extended</h4>-->
        <p>
            In the light of requests from the prospective presenters, the Scientific Committee of APACT2013 decided to extend the abstract submission deadline to Thursday, 31 January, 2013. Participants wishing to make a presentation in the technical program are cordially invited to submit an abstract in English.<br>
            All submitted abstracts will be reviewed and allocated to Poster Sessions by the Technical Committee. Review result will be notified to the registered authors by email by the end of February, 2013.
        </p>
        <h5>Poster Sessions:</h5>
        <p class="ml25">Posters in English will be on display throughout the congress period.</p>
        <p>* Papers should be unpublished in other international conferences prior to the APACT2013.</p>
        <p>* Oral Sessions will be constituted of invited papers. Submitted abstracts might be changed from Poster Sessions into Oral Sessions.</p>
        <p class="mb20">&nbsp;</p>

        <h4>Abstract Submission</h4>
        <div class="waku">
            <p class="txtAC red f100"><strong>Online Submission System is closed as of Thursday, 31 January, 2013.</strong></p>
            <!--<p class="txtAC red lH13 mt10">If you missed the deadline and wish to submit your paper,<br />
            please contact <a href="mailto:apact2013@ics-inc.co.jp">apact2013@ics-inc.co.jp</a> for further instruction.</p>-->
        </div>

        <h5>To submit an abstract:</h5>
        <p><span>The abstract should be written in English and required to have the following structure;</span></p>
        
        <p style="padding-right: 30px;">Abstract title</p>
        <p style="padding-right: 30px;">Name of authors (first name, middle initial and last name)</p>
        <p style="padding-right: 30px;">Affiliations; department, institution and country of all authors.</p>
        <p style="padding-right: 30px;">* Fill in the columns required on the abstract submission form including corresponding author’s information and the items above. The corresponding author will receive all communications concerning the submission and is responsible for sharing the status of the submission with the other authors.</p>
        <p style="padding-right: 30px;">Abstract (300 - 400 words in length / figures, graphs or tables)</p>
        <p style="padding-right: 30px; ">* Upload the abstract file in MS Word format (.doc or .docx) at the last section of the submission form.</p>
        <p style="padding-right: 30px;">* All texts and figures should be included in 1 page in A4 format. Abstracts are requested to be written in Arial, 12pt.</p>
        
        <p><span>Choose up to two topics which best express the contents of the abstract. However the Technical Committee reserves the right to reassign the topic as they deem appropriate.</span></p>
        <p><span>Confirmation of receipt of abstract with the reference number will be e-mailed to the corresponding author. The authors can revise the registered author information or replace their abstracts online by logging-in to their personal account until the online system closes on <font class="gray2"><s>Thursday, 20 December, 2012</s></font> <font class="red">Thursday, 31 January, 2013</font>.</span></p>

        <p class="mb20">&nbsp;</p>

        <h4>Topics of Poster Sessions</h4>
        <table class="tb03 session mb20">
            <tbody>
                <tr>
                    <th>A</th>
                    <td>Epidemiology &amp; Surveillance of smoking</td>
                </tr>
                <tr>
                    <th>B</th>
                    <td>Smoking and heart diseases</td>
                </tr>
                <tr>
                    <th>C</th>
                    <td>Smoking &amp; tuberculosis</td>
                </tr>
                <tr>
                    <th>D</th>
                    <td>Smoking and respiratory diseases</td>
                </tr>
                <tr>
                    <th>E</th>
                    <td>Smoking and oral health</td>
                </tr>
                <tr>
                    <th>F</th>
                    <td>Other scientific researches (e.g., neuroscience, genetics, …)</td>
                </tr>
                <tr>
                    <th>G</th>
                    <td>Social and economic costs of tobacco</td>
                </tr>
                <tr>
                    <th>H</th>
                    <td>Other forms of tobacco / Substances simulating tobacco</td>
                </tr>
                <tr>
                    <th>I</th>
                    <td>Regulation of the contents of tobacco products</td>
                </tr>
                <tr>
                    <th>J</th>
                    <td>Roles of health professionals</td>
                </tr>
                <tr>
                    <th>K</th>
                    <td>Smoke-free environment</td>
                </tr>
                <tr>
                    <th>L</th>
                    <td>Education, communication, training and public awareness</td>
                </tr>
                <tr>
                    <th>M</th>
                    <td>Cessation / Quit line / Treatment of tobacco dependence</td>
                </tr>
                <tr>
                    <th>N</th>
                    <td>Specific population (Child, AIDS, psychiatric patient, etc)</td>
                </tr>
                <tr>
                    <th>O</th>
                    <td>Japanese medical insurance system and cessation</td>
                </tr>
                <tr>
                    <th>P</th>
                    <td>Gender and smoking</td>
                </tr>
                <tr>
                    <th>Q</th>
                    <td>Packaging and labeling</td>
                </tr>
                <tr>
                    <th>R</th>
                    <td>Price and tax of tobacco</td>
                </tr>
                <tr>
                    <th>S</th>
                    <td>Tobacco market opening</td>
                </tr>
                <tr>
                    <th>T</th>
                    <td>Tobacco industry intervention / Corporate Social Responsibility</td>
                </tr>
                <tr>
                    <th>U</th>
                    <td>No-smoking Legislation</td>
                </tr>
                <tr>
                    <th>V</th>
                    <td>Compliance to FCTC</td>
                </tr>
                <tr>
                    <th>W</th>
                    <td>NCD Commitment</td>
                </tr>
                <tr>
                    <th>X</th>
                    <td>Role of APACT. Past and future</td>
                </tr>
                <tr>
                    <th>Y</th>
                    <td>Audio-visual presentation</td>
                </tr>
                <tr>
                    <th>Z</th>
                    <td>Others</td>
                </tr>
            </tbody>
        </table>
        <p class="mb15">&nbsp;</p>

        <h4>Notification of Acceptance</h4>
        <p>Notification of acceptance will be e-mailed to the corresponding authors by the end of February, 2013.</p>
        <p>Abstracts accepted for presentation will be distributed to all participants during the Conference.</p>
        <p class="mb20">&nbsp;</p>

        <h4>Participation</h4>
        <p class="red"><u>Presenting authors must complete the registration before abstract submission.</u></p>
        <p class="mb20">All costs related with congress participation, including travel, hotel, and meal expenses shall be covered by individual participants/speakers, not by the congress organizers.</p><!-- #BeginLibraryItem "/Library/regi_fee.lbi" --><table class="tb03">
            <tbody>
                <tr>
                    <th>&nbsp;</th>
                    <th>
                        Early Registration<br>
                        On and before <span class="gray1"><s>January 31, 2013</s></span><br>
                        <span class="red" style="position:relative; left:4em;">February 28, 2013</span>
                    </th>
                    <th>
                        Late Registration<br>
                        On and before July 31, 2013
                    </th>
                    <th>
                        On-site Registration<br>
                        After August 1, 2013
                    </th>
                </tr>
                <tr>
                    <th>Delegate</th>
                    <td>JPY 50,000</td>
                    <td>JPY 60,000</td>
                    <td>JPY 80,000</td>
                </tr>
                <tr>
                    <th>Student <span class="red">*</span></th>
                    <td>JPY 8,000</td>
                    <td>JPY 10,000</td>
                    <td>JPY 15,000</td>
                </tr>
            </tbody>
        </table>
        <p class="txtAR pr5"><span class="f90 gray1">The fees are in Japanese Yen (JPY).</span></p>
        <!-- #EndLibraryItem --><p class="ml5 mt15 mb15 blue2 fWB"><span class="f120">Proceed to online registration</span> ---- <a href="registration.html"><i>http://www.apact.jp/registration.html</i></a></p><!-- #BeginLibraryItem "/Library/reg_fee_txt.lbi" --><p class="kome">
            <span class="red">*</span> “Student Registration” is limited to full-time and undergraduate students in university or junior college. <br>
            (Students of open university or distance learning university, or students entering from the workforce are NOT accepted as “Student”. Also, graduate student must register as “Delegate”.)<br>
            To qualify for the student rate, you must submit the copy of documentary proof that you are in full time study at a recognized educational institution by e-mail(<a href="mailto:apact2013-reg@ics-inc.co.jp">apact2013-reg@ics-inc.co.jp</a>) or FAX(+81-3-3219-3577) to the registration office after the online registration.
        </p>
        <!-- #EndLibraryItem --><h4 class="mt30">For any inquiries, please contact</h4>
        <h5 class="mtz">Secretariat of APACT 2013:</h5>
        <p class="ml25">
            c/o ICS Convention Design, Inc.<br>
            Chiyoda Bldg., 1-5-18, Sarugakucho, Chiyoda-ku, Tokyo 101-8449, Japan<br>
            TEL : <span class="skype_c2c_print_container notranslate">+81-3-3219-3541</span><span id="skype_c2c_container" class="skype_c2c_container notranslate" dir="ltr" tabindex="-1" onmouseover="SkypeClick2Call.MenuInjectionHandler.showMenu(this, event)" onmouseout="SkypeClick2Call.MenuInjectionHandler.hideMenu(this, event)" onclick="SkypeClick2Call.MenuInjectionHandler.makeCall(this, event)" data-numbertocall="+81332193541" data-numbertype="paid" data-isfreecall="false" data-isrtl="false" data-ismobile="false"><span class="skype_c2c_highlighting_inactive_common" dir="ltr" skypeaction="skype_dropdown"><span class="skype_c2c_textarea_span" id="non_free_num_ui"><img width="0" height="0" class="skype_c2c_logo_img" src="chrome-extension://lifbcibllhkdhoafpjfnlhfpfgnpldfl/call_skype_logo.png"><span class="skype_c2c_text_span">+81-3-3219-3541</span><span class="skype_c2c_free_text_span"></span></span></span></span> &nbsp; FAX : +81-3-3219-3577<br>
            E-mail : <a href="mailto:apact2013@ics-inc.co.jp">apact2013@ics-inc.co.jp</a>
        </p>
        <p class="mb20">&nbsp;</p>
    </div>
    <!-- InstanceEndEditable -->

</div>
