@{
    ViewBag.Title = "Home Page";
}

<!-- Start slider -->
    <div class="touch-slider" data-slider-navigation="true" data-slider-pagination="true">
        <div class="item"><img alt="" src="~/Content/upload/images/my_khe.jpg" style="width:100%; height:371px;"></div>
        <div class="item"><img alt="" src="~/Content/upload/images/hoi_an.jpg" style="width:100%; height:371px;"></div>
    </div>
<!-- End slider -->

<!-- Divider Style 1 -->
<div class="hr1" style="margin-bottom:40px;"></div>

<div class="row">
    <div class="col-md-9 page-content">
        <h4 class="classic-title"><span>Letter of appreciation</span></h4>

        <!-- Start Post -->
        <div class="blog-post image-post">
            <!-- Post Thumb -->
            <div class="post-head">
                <a class="lightbox" title="Letter of appreciation" href="~/Content/upload/images/Letter-of-appreciation.jpg">
                    <div class="thumb-overlay"><i class="icon-resize-full"></i></div>
                    <img alt="" src="~/Content/upload/images/Letter-of-appreciation.jpg">
                </a>
            </div>
            <!-- Post Content -->
            <div class="post-content">
                <div class="post-type"><i class="icon-picture-3"></i></div>
                <h2><a href="#">Asia Pacific Conference Public Health</a></h2>
                <ul class="post-meta">
                    <li>December 30, 2015</li>
                    <li><a href="#">Posted by</a>, <a href="#">ACPRSHR</a></li>
                </ul>
                <p>Sincere thanks to our scientific committee, reviewers, presenters, chair persons, panelists, participants, partners, exhibitors and sponsors for their great contribution to the 4th Asia Pacific Conference on Public Health "Climate change and Population Health".</p>
                <p>Trân trọng cảm ơn những đóng góp quý báu của các thành viên Hội đồng khoa học, nhà phản biện, các báo cáo viên, người điều hành thảo luận, panelists, các đại biểu, các cơ quan tham gia gian trưng bày, các đối tác tổ chức session vệ tinh, và các nhà tài trợ cho thành công của Hội nghị YTCC lần thứ Tư khu vực Châu Á Thái Bình Dương với chủ đề "Biến đổi khí hậu và sức khỏe quần thể".</p>
                <a class="main-button" href="#">Read More <i class="icon-right-small"></i></a>
            </div>
        </div>
        <!-- End Post -->

        <!--Latest News-->
        <h4 class="classic-title"><span>Latest News</span></h4>
        
        <!-- Start Latest Posts -->
        <div class="latest-posts-classic">

            <!-- Post 1 -->
            <div class="post-row animated fadeIn delay-01" data-animation="fadeIn" data-animation-delay="01">
                <div class="left-meta-post">
                    <img class="img-thumbnail image-text" style="float:left; width:150px;" alt="" src="~/Content/upload/images/bussniss-pic.jpg">
                    <div class="post-type"><i class="icon-picture-1"></i></div>
                </div>
                <h3 class="post-title"><a href="#">8th APCRSHR Booth Exhibition at 25th Silver Jubilee Anniversary of MMCWA</a></h3>
                <div class="post-content">
                    <p>The Theme, objectives and information on Participation and Registration are announced at the exhibit booth. <a class="read-more" href="#">Read More</a></p>
                </div>
            </div>

            <!-- Post 2 -->
            <div class="post-row animated fadeIn delay-01" data-animation="fadeIn" data-animation-delay="01">
                <div class="left-meta-post">
                    <img class="img-thumbnail image-text" style="float:left; width:150px;" alt="" src="~/Content/upload/images/bussniss-pic.jpg">
                </div>
                <h3 class="post-title"><a href="#">8th APCRSHR Booth Exhibition at 25th Silver Jubilee Anniversary of MMCWA</a></h3>
                <div class="post-content">
                    <p>The Theme, objectives and information on Participation and Registration are announced at the exhibit booth. <a class="read-more" href="#">Read More</a></p>
                </div>
            </div>

            <!-- Post 2 -->
            <div class="post-row animated fadeIn delay-01" data-animation="fadeIn" data-animation-delay="01">
                <div class="left-meta-post">
                    <img class="img-thumbnail image-text" style="float:left; width:150px;" alt="" src="~/Content/upload/images/bussniss-pic.jpg">
                </div>
                <h3 class="post-title"><a href="#">8th APCRSHR Booth Exhibition at 25th Silver Jubilee Anniversary of MMCWA</a></h3>
                <div class="post-content">
                    <p>The Theme, objectives and information on Participation and Registration are announced at the exhibit booth. <a class="read-more" href="#">Read More</a></p>
                </div>
            </div>

            <!-- Post 2 -->
            <div class="post-row animated fadeIn delay-01" data-animation="fadeIn" data-animation-delay="01">
                <div class="left-meta-post">
                    <img class="img-thumbnail image-text" style="float:left; width:150px;" alt="" src="~/Content/upload/images/bussniss-pic.jpg">
                </div>
                <h3 class="post-title"><a href="#">8th APCRSHR Booth Exhibition at 25th Silver Jubilee Anniversary of MMCWA</a></h3>
                <div class="post-content">
                    <p>The Theme, objectives and information on Participation and Registration are announced at the exhibit booth. <a class="read-more" href="#">Read More</a></p>
                </div>
            </div>

        </div>
        <!-- End Latest Posts -->

        <!--End latest News-->

        <!-- Divider Style 1 -->
        <div class="hr1" style="margin-bottom:40px;"></div>

        <!--Latest News-->
        <h4 class="classic-title"><span>Video</span></h4>

        <!-- Start Post -->
        <div class="blog-post video-post">
            <!-- Post Video -->
            <div class="post-head">
                <iframe src="https://www.youtube.com/embed/videoseries?list=PLahLCShrtvtDJ06pMNoLCq4CIwUnETQkv" width="800" height="450" frameborder="0"></iframe>
            </div>
            <!-- Post Content -->
            <div class="post-content">
                <div class="post-type"><i class="icon-video-3"></i></div>
                <h2><a href="#">Asia Pacific Conference Public Health Video</a></h2>
                <ul class="post-meta">
                    <li>December 30, 2013</li>
                    <li><a href="#">Posted by</a>, <a href="#">APCRSHR</a></li>
                </ul>
                <p>At 8:00 January 8 2016. The City Council Public Health in collaboration with the Preventive Medicine Center in Go Vap District held a meeting to summarize two years of implementation of the pilot program to strengthen health system capacity prevention and control of tuberculosis in HCMC - Vietnam towards a positive approach (Correct Care Program - CSD) in the district of Go Vap (from month 4/2014).</p>
            </div>
        </div>
        <!-- End Post -->

    </div>

    <!--Sidebar-->
    <div class="col-md-3 sidebar right-sidebar">

        <!-- Popular Register -->
        <div class="widget widget-popular-posts">
            <h4>Popular<span class="head-line"></span></h4>
            <ul>
                <li>
                    <a class="main-button" href="#" style="color: #FFF; font-size: 15px; font-weight: bold; ">Register Now</a>
                </li>
            </ul>
        </div>

        <!-- Popular Posts widget -->
        <div class="widget widget-popular-posts">
            <h4>Important Deadlines <span class="head-line"></span></h4>
            <ul>
                <li>
                    <div class="widget-thumb-icon">
                        <i class="icon-beaker icon-mini-effect icon-effect-1"></i>
                    </div>
                    <div class="widget-content">
                        <h5><a href="#">Registration and abstract submission open</a></h5>
                        <span style="Color: #D85D03; font-weight: bold; ">Jul 29 2013</span>
                    </div>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <div class="widget-thumb-icon">
                        <i class="icon-beaker icon-mini-effect icon-effect-1"></i>
                    </div>
                    <div class="widget-content">
                        <h5><a href="#">Abstract submission close</a></h5><br />
                        <span style="Color: #D85D03; font-weight: bold; ">Jul 29 2013</span>
                    </div>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <div class="widget-thumb-icon">
                        <i class="icon-beaker icon-mini-effect icon-effect-1"></i>
                    </div>
                    <div class="widget-content">
                        <h5><a href="#">Notification of accepted presentations by the organizing committee</a></h5>
                        <span style="Color: #D85D03; font-weight: bold; ">AUGUST 31, 2013</span>
                    </div>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <div class="widget-thumb-icon">
                        <i class="icon-beaker icon-mini-effect icon-effect-1"></i>
                    </div>
                    <div class="widget-content">
                        <h5><a href="#">Notification of accepted presentations by the organizing committee</a></h5>
                        <span style="Color: #D85D03; font-weight: bold; ">AUGUST 31, 2013</span>
                    </div>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <div class="widget-thumb-icon">
                        <i class="icon-beaker icon-mini-effect icon-effect-1"></i>
                    </div>
                    <div class="widget-content">
                        <h5><a href="#">Notification of accepted presentations by the organizing committee</a></h5>
                        <span style="Color: #D85D03; font-weight: bold; ">AUGUST 31, 2013</span>
                    </div>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <div class="widget-thumb-icon">
                        <i class="icon-beaker icon-mini-effect icon-effect-1"></i>
                    </div>
                    <div class="widget-content">
                        <h5><a href="#">Notification of accepted presentations by the organizing committee</a></h5>
                        <span style="Color: #D85D03; font-weight: bold; ">AUGUST 31, 2013</span>
                    </div>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <div class="widget-thumb-icon">
                        <i class="icon-beaker icon-mini-effect icon-effect-1"></i>
                    </div>
                    <div class="widget-content">
                        <h5><a href="#">Notification of accepted presentations by the organizing committee</a></h5>
                        <span style="Color: #D85D03; font-weight: bold; ">AUGUST 31, 2013</span>
                    </div>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </div>

        <!-- Tags Widget -->
        <div class="widget widget-tags">
            <h4>Tags <span class="head-line"></span></h4>
            <div class="tagcloud">
                <a href="#">Portfolio</a>
                <a href="#">Theme</a>
                <a href="#">Mobile</a>
                <a href="#">Design</a>
                <a href="#">Wordpress</a>
                <a href="#">Jquery</a>
                <a href="#">CSS</a>
                <a href="#">Modern</a>
                <a href="#">Theme</a>
                <a href="#">Icons</a>
                <a href="#">Google</a>
            </div>
        </div>
    </div>
    <!--End sidebar-->
</div>