@{
    ViewBag.Title = "Presentation Data";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!-- Page Content -->
<div class="col-md-9 page-content">

    <!-- Classic Heading -->
    <h4 class="classic-title"><span>Presentation Data</span></h4>

    <!-- InstanceBeginEditable name="CONTENT" -->
    <h2 class="sub_h2">Presentation Data</h2>
    <div id="subbox" class="presen_data">
        <p class="kome">*Only the presentation data, which the presenter agreed, are listed.</p>
        <table class="tb03" style="width: 100%">
            <tbody>
                <tr><th class="top">Opening Lecture 1</th><td class="top"><a href="pdf/OL1.pdf" target="_blank">OL1-01</a></td></tr>
                <tr><th>Opening Lecture 2</th><td><a href="pdf/OL2.pdf" target="_blank">OL1-02</a></td></tr>
                <tr><th>Luncheon Seminar 2</th><td class="gray1">LS2-01<span>*Will be uploaded later.</span></td></tr>
                <tr><th>Luncheon Seminar 3</th><td class="gray1">LS3-01<span>*Will be uploaded later.</span></td></tr>
                <tr><th>Luncheon Seminar 4</th><td><a href="pdf/LS4-1.pdf" target="_blank">LS4-01</a></td></tr>
                <tr><th rowspan="3">Plenary Lecture 1</th><td><a href="pdf/PL1-1.pdf" target="_blank">PL1-01</a></td></tr>
                <tr><td><a href="pdf/PL1-2.pdf" target="_blank">PL1-02</a></td></tr>
                <tr><td><a href="pdf/PL1-3.pdf" target="_blank">PL1-03</a></td></tr>
                <tr><th rowspan="4">Plenary Lecture 2</th><td><a href="pdf/PL2-1.pdf" target="_blank">PL2-01</a></td></tr>
                <tr><td><a href="pdf/PL2-2.pdf" target="_blank">PL2-02</a></td></tr>
                <tr><td><a href="pdf/PL2-3.pdf" target="_blank">PL2-03</a></td></tr>
                <tr><td class="gray1">PL2-04<span>*Will be uploaded later.</span></td></tr>
                <tr><th rowspan="3">Plenary Lecture 3</th><td><a href="pdf/PL3-1.pdf" target="_blank">PL3-01</a></td></tr>
                <tr><td><a href="pdf/PL3-4.pdf" target="_blank">PL3-04</a></td></tr>
                <tr><td><a href="pdf/PL3-6.pdf" target="_blank">PL3-06</a></td></tr>
                <tr><th rowspan="2">Plenary Lecture 4</th><td><a href="pdf/PL4-1.pdf" target="_blank">PL4-01</a></td></tr>
                <tr><td><a href="pdf/PL4-3.pdf" target="_blank">PL4-03</a></td></tr>
                <tr><th rowspan="6">Symposium 1</th><td class="gray1">S1-01<span>*Will be uploaded later.</span></td></tr>
                <tr><td><a href="pdf/S1-2.pdf" target="_blank">S1-02</a></td></tr>
                <tr><td><a href="pdf/S1-3.pdf" target="_blank">S1-03</a></td></tr>
                <tr><td><a href="pdf/S1-4.pdf" target="_blank">S1-04</a></td></tr>
                <tr><td><a href="pdf/S1-5.pdf" target="_blank">S1-05</a></td></tr>
                <tr><td><a href="pdf/S1-6.pdf" target="_blank">S1-06</a></td></tr>
                <tr><th rowspan="6">Symposium 2</th><td><a href="pdf/S2-1.pdf" target="_blank">S2-01</a></td></tr>
                <tr><td><a href="pdf/S2-2.pdf" target="_blank">S2-02</a></td></tr>
                <tr><td><a href="pdf/S2-3.pdf" target="_blank">S2-03</a></td></tr>
                <tr><td><a href="pdf/S2-4_02.pdf" target="_blank">S2-04</a></td></tr>
                <tr><td><a href="pdf/S2-5.pdf" target="_blank">S2-05</a></td></tr>
                <tr><td class="gray1">S2-06<span>*Will be uploaded later.</span></td></tr>
                <tr><th rowspan="5">Symposium 3</th><td><a href="pdf/S3-2.pdf" target="_blank">S3-02</a></td></tr>
                <tr><td><a href="pdf/S3-3.pdf" target="_blank">S3-03</a></td></tr>
                <tr><td><a href="pdf/S3-4.pdf" target="_blank">S3-04</a></td></tr>
                <tr><td><a href="pdf/S3-5.pdf" target="_blank">S3-05</a></td></tr>
                <tr><td><a href="pdf/S3-6.pdf" target="_blank">S3-06</a></td></tr>
                <tr><th rowspan="4">Symposium 4</th><td><a href="pdf/S4-1.pdf" target="_blank">S4-01</a></td></tr>
                <tr><td class="gray1">S4-02<span>*Will be uploaded later.</span></td></tr>
                <tr><td><a href="pdf/S4-3.pdf" target="_blank">S4-03</a></td></tr>
                <tr><td><a href="pdf/S4-5.pdf" target="_blank">S4-05</a></td></tr>
                <tr><th rowspan="6">Symposium 5</th><td><a href="pdf/S5-1.pdf" target="_blank">S5-01</a></td></tr>
                <tr><td><a href="pdf/S5-2.pdf" target="_blank">S5-02</a></td></tr>
                <tr><td><a href="pdf/S5-3.pdf" target="_blank">S5-03</a></td></tr>
                <tr><td><a href="pdf/S5-4.pdf" target="_blank">S5-04</a></td></tr>
                <tr><td><a href="pdf/S5-5.pdf" target="_blank">S5-05</a></td></tr>
                <tr><td><a href="pdf/S5-6.pdf" target="_blank">S5-06</a></td></tr>
                <tr><th rowspan="4">Symposium 6</th><td><a href="pdf/S6-1.pdf" target="_blank">S6-01</a></td></tr>
                <tr><td><a href="pdf/S6-2.pdf" target="_blank">S6-02</a></td></tr>
                <tr><td><a href="pdf/S6-3.pdf" target="_blank">S6-03</a></td></tr>
                <tr><td><a href="pdf/S6-4.pdf" target="_blank">S6-04</a></td></tr>
                <tr><th rowspan="5">Symposium 7</th><td><a href="pdf/S7-1.pdf" target="_blank">S7-01</a></td></tr>
                <tr><td><a href="pdf/S7-2.pdf" target="_blank">S7-02</a></td></tr>
                <tr><td><a href="pdf/S7-4.pdf" target="_blank">S7-04</a></td></tr>
                <tr><td><a href="pdf/S7-5.pdf" target="_blank">S7-05</a></td></tr>
                <tr><td><a href="pdf/S7-6.pdf" target="_blank">S7-06</a></td></tr>
                <tr><th rowspan="4">Symposium 8</th><td class="gray1">S8-01<span>*Will be uploaded later.</span></td></tr>
                <tr><td><a href="pdf/S8-2.pdf" target="_blank">S8-02</a></td></tr>
                <tr><td><a href="pdf/S8-3.pdf" target="_blank">S8-03</a></td></tr>
                <tr><td class="gray1">S8-04<span>*Will be uploaded later.</span></td></tr>
                <tr><th rowspan="5">Symposium 9</th><td class="gray1">S9-01<span>*Will be uploaded later.</span></td></tr>
                <tr><td class="gray1">S9-02<span>*Will be uploaded later.</span></td></tr>
                <tr><td><a href="pdf/S9-4.pdf" target="_blank">S9-04</a></td></tr>
                <tr><td><a href="pdf/S9-5.pdf" target="_blank">S9-05</a></td></tr>
                <tr><td><a href="pdf/S9-6.pdf" target="_blank">S9-06</a></td></tr>
                <tr><th rowspan="5">Symposium 10</th><td><a href="pdf/S10-1.pdf" target="_blank">S10-01</a></td></tr>
                <tr><td><a href="pdf/S10-2.pdf" target="_blank">S10-02</a></td></tr>
                <tr><td><a href="pdf/S10-3.pdf" target="_blank">S10-03</a></td></tr>
                <tr><td><a href="pdf/S10-4.pdf" target="_blank">S10-04</a></td></tr>
                <tr><td><a href="pdf/S10-5.pdf" target="_blank">S10-05</a></td></tr>
                <tr><th rowspan="4">Symposium 11</th><td><a href="pdf/S11-1.pdf" target="_blank">S11-01</a></td></tr>
                <tr><td><a href="pdf/S11-2.pdf" target="_blank">S11-02</a></td></tr>
                <tr><td><a href="pdf/S11-3.pdf" target="_blank">S11-03</a></td></tr>
                <tr><td><a href="pdf/S11-4.pdf" target="_blank">S11-04</a></td></tr>
                <tr><th rowspan="5">Symposium 12</th><td class="gray1">S12-01<span>*Will be uploaded later.</span></td></tr>
                <tr><td><a href="pdf/S12-2.pdf" target="_blank">S12-02</a></td></tr>
                <tr><td><a href="pdf/S12-3.pdf" target="_blank">S12-03</a></td></tr>
                <tr><td><a href="pdf/S12-4.pdf" target="_blank">S12-04</a></td></tr>
                <tr><td><a href="pdf/S12-5.pdf" target="_blank">S12-05</a></td></tr>
                <tr><th rowspan="5">Symposium 13</th><td><a href="pdf/S13-1.pdf" target="_blank">S13-01</a></td></tr>
                <tr><td><a href="pdf/S13-2.pdf" target="_blank">S13-02</a></td></tr>
                <tr><td><a href="pdf/S13-3.pdf" target="_blank">S13-03</a></td></tr>
                <tr><td><a href="pdf/S13-4.pdf" target="_blank">S13-04</a></td></tr>
                <tr><td><a href="pdf/S13-5.pdf" target="_blank">S13-05</a></td></tr>
                <tr><th rowspan="4">Symposium 14</th><td><a href="pdf/S14-1.pdf" target="_blank">S14-01</a></td></tr>
                <tr><td><a href="pdf/S14-3.pdf" target="_blank">S14-03</a></td></tr>
                <tr><td><a href="pdf/S14-4.pdf" target="_blank">S14-04</a></td></tr>
                <tr><td><a href="pdf/S14-5.pdf" target="_blank">S14-05</a></td></tr>
                <tr><th rowspan="4">Symposium 15</th><td class="gray1">S15-01<span>*Will be uploaded later.</span></td></tr>
                <tr><td><a href="pdf/S15-2.pdf" target="_blank">S15-02</a></td></tr>
                <tr><td><a href="pdf/S15-4.pdf" target="_blank">S15-04</a></td></tr>
                <tr><td class="gray1">S15-05<span>*Will be uploaded later.</span></td></tr>
                <tr><th rowspan="3">Symposium 16</th><td><a href="pdf/S16-2.pdf" target="_blank">S16-02</a></td></tr>
                <tr><td><a href="pdf/S16-4.pdf" target="_blank">S16-04</a></td></tr>
                <tr><td><a href="pdf/S16-5.pdf" target="_blank">S16-05</a></td></tr>
                <tr><th rowspan="6">Symposium 17</th><td><a href="pdf/S17-1.pdf" target="_blank">S17-01</a></td></tr>
                <tr><td><a href="pdf/S17-2.pdf" target="_blank">S17-02</a></td></tr>
                <tr><td><a href="pdf/S17-3.pdf" target="_blank">S17-03</a></td></tr>
                <tr><td class="gray1">S17-04<span>*Will be uploaded later.</span></td></tr>
                <tr><td class="gray1">S17-05<span>*Will be uploaded later.</span></td></tr>
                <tr><td class="gray1">S17-06<span>*Will be uploaded later.</span></td></tr>
                <tr><th rowspan="3">Symposium 18</th><td><a href="pdf/S18-2.pdf" target="_blank">S18-02</a></td></tr>
                <tr><td class="gray1">S18-03<span>*Will be uploaded later.</span></td></tr>
                <tr><td><a href="pdf/S18-5.pdf" target="_blank">S18-05</a></td></tr>
                <tr><th rowspan="4">Symposium 19</th><td><a href="pdf/S19-2.pdf" target="_blank">S19-02</a></td></tr>
                <tr><td><a href="pdf/S19-3.pdf" target="_blank">S19-03</a></td></tr>
                <tr><td><a href="pdf/S19-4.pdf" target="_blank">S19-04</a></td></tr>
                <tr><td class="gray1">S19-05<span>*Will be uploaded later.</span></td></tr>
            </tbody>
        </table>
    </div>
    <!-- InstanceEndEditable -->

</div>
