@{
    ViewBag.Title = "Registration Related Conference";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!-- Page Content -->
<div class="col-md-9 page-content">

    <!-- Classic Heading -->
    <h4 class="classic-title"><span>Registration Related Conference</span></h4>

    <!-- InstanceBeginEditable name="CONTENT" -->
    <div id="subbox" class="registration">
        <p class="red fWB">
            *By July 31, we have closed pre-registration.<br>
            For On-site registration, please see the registration desk Open Hour during the conference.
        </p>
        <table class="tb01 openH">
            <tbody>
                <tr>
                    <th class="top txtAC">Open Hours</th>
                    <td class="top pl15 fWB">
                        <dl>
                            <dt>August 18 (Sun.)</dt>
                            <dd class="dd01">15:00 – 20:00</dd>
                            <dt>August 19 (Mon.)</dt>
                            <dd class="dd02">8:00 – 17:00</dd>
                            <dt>August 20 (Tue.)</dt>
                            <dd class="dd02">8:30 – 17:00</dd>
                            <dt>August 21 (Wed.)</dt>
                            <dd class="dd02">8:30 – 11:00</dd>
                        </dl>
                    </td>
                </tr>
            </tbody>
        </table>
        @*<p class="txtAR mb10"><a href="http://www.apact.jp/registration_ja.html"><img src="./Registration _ APACT 2013_files/ja_btn.gif" width="164" height="27" alt="english" class="rollover"></a></p>*@
        <table class="tb03 mb10">
            <tbody>
                <tr>
                    <th class="w50">Deadline for On-Line Registration (Early)</th>
                    <td class="w50">
                        <span class="gray1"><s>January 31, 2013</s></span><br>
                        <span class="red">&nbsp;February 28, 2013</span>
                    </td>
                </tr>
                <tr>
                    <th>Deadline for On-Line Registration (Late)</th>
                    <td>July 31, 2013</td>
                </tr>
            </tbody>
        </table>
        <p class="fWB">
            After August 1, 2013, please make the on-site registration at the venue.<br>
            (Payment accepted in cash or credit card)<br>
            If you could not register by online, please contact the Registration Office (<a href="mailto:apact2013-reg@ics-inc.co.jp">apact2013-reg@ics-inc.co.jp</a>)
        </p>
        <p class="mb30">*All deadline dates are in Japan Standard Time</p>
        <h3>REGISTRATION FEE</h3><!-- #BeginLibraryItem "/Library/regi_fee.lbi" --><table class="tb03">
            <tbody>
                <tr>
                    <th>&nbsp;</th>
                    <th>
                        Early Registration<br>
                        On and before <span class="gray1"><s>January 31, 2013</s></span><br>
                        <span class="red" style="position:relative; left:4em;">February 28, 2013</span>
                    </th>
                    <th>
                        Late Registration<br>
                        On and before July 31, 2013
                    </th>
                    <th>
                        On-site Registration<br>
                        After August 1, 2013
                    </th>
                </tr>
                <tr>
                    <th>Delegate</th>
                    <td>JPY 50,000</td>
                    <td>JPY 60,000</td>
                    <td>JPY 80,000</td>
                </tr>
                <tr>
                    <th>Student <span class="red">*</span></th>
                    <td>JPY 8,000</td>
                    <td>JPY 10,000</td>
                    <td>JPY 15,000</td>
                </tr>
            </tbody>
        </table>
        <p class="txtAR pr5"><span class="f90 gray1">The fees are in Japanese Yen (JPY).</span></p>
        <!-- #EndLibraryItem --><!-- #BeginLibraryItem "/Library/reg_fee_txt.lbi" --><p class="kome">
            <span class="red">*</span> “Student Registration” is limited to full-time and undergraduate students in university or junior college. <br>
            (Students of open university or distance learning university, or students entering from the workforce are NOT accepted as “Student”. Also, graduate student must register as “Delegate”.)<br>
            To qualify for the student rate, you must submit the copy of documentary proof that you are in full time study at a recognized educational institution by e-mail(<a href="mailto:apact2013-reg@ics-inc.co.jp">apact2013-reg@ics-inc.co.jp</a>) or FAX(+81-3-3219-3577) to the registration office after the online registration.
        </p>
        <!-- #EndLibraryItem --><h3>ITEMS INCLUDED IN THE REGISTRATION FEE</h3>
        <div class="item mb50">
            <p>-&nbsp;Attendance to all scientific session</p>
            <p>-&nbsp;Exhibition</p>
            <p>-&nbsp;Opening Ceremony</p>
            <p>-&nbsp;Welcome Party</p>
            <p>-&nbsp;Lunch for two days (August 19-20)</p>
            <p>-&nbsp;Coffee Breaks</p>
            <p>-&nbsp;Congress Bag</p>
            <p>-&nbsp;Program Book</p>
            <p>-&nbsp;Mini Program Book</p>
        </div>

        <h3>PAYMENT</h3>
        <p class="mb20">All payment must be in Japanese yen, and should be made in one of the following  methods:</p>
        <p>-&nbsp;One of the following credit cards</p>
        <p class="ml20 mb20">1. VISA&nbsp;&nbsp; 2. MasterCard&nbsp;&nbsp; 3. Diners Club&nbsp;&nbsp; 4. American Express&nbsp;&nbsp; 5. JCB</p>
        <p>-&nbsp;Bank  transfer</p>
        <table class="tb01 ml20 mb20">
            <tbody>
                <tr>
                    <th class="top">Account  Name</th>
                    <td class="top">APACT2013</td>
                </tr>
                <tr>
                    <th>
                        Account No. <br>
                        (Ordinary Deposit)
                    </th>
                    <td>3147362</td>
                </tr>
                <tr>
                    <th>Name  of bank</th>
                    <td>The  Bank of Tokyo-Mitsubishi UFJ, Ltd. Shin-Marunouchi Branch (Swift Code:  BOTKJPJT)</td>
                </tr>
                <tr>
                    <th>Address  of bank</th>
                    <td>1-4-1  Marunouchi, Chiyoda-ku, Tokyo, 100-0005 Japan</td>
                </tr>
            </tbody>
        </table>
        <p><span class="red">*</span>&nbsp;Remittance charge should be borne  by the participant.</p>
        <p><span class="red">*</span>&nbsp;If the remittance covers more than one person, please inform the name of  each participant to the Registration Office.</p>
        <p class="mb50"><span class="red">*</span>&nbsp;No personal check is available.</p>


        <h3>REPLY E-MAIL</h3>
        <p class="mb50">
            After you complete on-line  registration, a reply e-mail will be sent to your registered e-mail address  automatically.<br>
            If you  do not receive it within 24 hours, please contact the Registration Office.
        </p>

        <h3>CONFIRMATION</h3>
        <p class="mb50">
            Upon confirming both the registration and payment, the Registration Office will send you a confirmation e-mail.<br>
            Be sure to retain confirmation and present it at the registration desk on the day of the Conference.
        </p>
        <h3>CANCELLATION</h3>
        <p class="mb20">Cancellation shall be possible only if the Registration Office receives written notification.</p>
        <h4>Cancellation Fee</h4>
        <table class="tb03 mb10">
            <tbody>
                <tr>
                    <th class="w50"> Cancellation notified by</th>
                    <th class="w50">Cancellation fee</th>
                </tr>
                <tr>
                    <td>On and  before April 30, 2013</td>
                    <td>30% of the amount paid</td>
                </tr>
                <tr>
                    <td>On and  after May 1, 2013</td>
                    <td>100% of the amount paid (No refund)</td>
                </tr>
            </tbody>
        </table>
        <p>*All refunds will be made after the Conference.</p>
        <p>*For  bank transfer payment, a bank handling charge will be  deducted from the amount of refund.</p>
        <br />
        <input type="submit" name="submit" class="button" id="submit_btn" value="Register">
        <br /><br />
        <h3>CONTACTS</h3>
        <p class="mb10 ml5">Any inquiries concerning registration  should be addressed to:</p>
        <h5 class="mtz">Registration Office of APACT 2013</h5>
        <p class="ml25">
            c/o ICS Convention Design, Inc.<br>
            Chiyoda  Bldg. 1-5-18, Sarugaku-cho<br>
            Chiyoda-ku, Tokyo 101-8449 Japan<br>
            Tel : +81-3-3219-3600 &nbsp;Fax : +81-3-3219-3577<br>
            E-mail : <a href="#">apact2013-reg@ics-inc.co.jp</a>
        </p>
    </div>
    <!-- InstanceEndEditable -->

</div>
