@{
    ViewBag.Title = "Travel and Accommodation";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!-- Page Content -->
<div class="col-md-9 page-content">

    <!-- Classic Heading -->
    <h4 class="classic-title"><span>Travel</span></h4>

    <!-- Dropcap -->
    <p><span class="dropcap bg-dropcap circle-dropcap">C</span>ompact and Convenient City 
    Makuhari
    An international conference hall, the exhibition site of the maximum scale, and six official hotels (about 2300 rooms)
    150 or more restaurants (cuisines from all over the world)
    An amusement facility such as a movie theater and shopping malls Makuhari Messe.</p>

    <!-- Classic Heading -->
    <h4 class="classic-title"><span>Accommodation</span></h4>

    <p>JTB Global Marketing & Travel Inc. (JTB GMT) has been appointed the official travel agent for the Conference and will handle accommodation.</p>
    <p>[JTB Global Marketing & Travel Inc.]
    <br />Convention Center (CD100720-628) 
    <br />Fax: +81-3-5495-0685
    <br />2-3-11 Higashi-Shinagawa, Shinagawa-ku, 
    <br />Phone: +81-3-5796-5445
    <br />Tokyo 140-8604 Japan E-mail: apact2013@gmt.jtb.jp</p>

    <!-- Divider -->
    <div class="hr5" style="margin-top:35px; margin-bottom:35px;"></div>

    <h4>Hotels</h4>
    
    <br />

    <div class="agency-row">
        <div class="row">
            <div class="agency-row-image col-sm-3">
                <a href="#">
                    <img src="~/Content/upload/partners/logo1.png" alt="">
                </a>
            </div><!-- /.agency-row-image -->
            <div class="agency-row-content col-sm-5">
                <h2 class="agency-row-title"><a href="#">Tokyo Hotel</a></h2>
                <div class="agency-row-subtitle">Hight quality</div>
                <hr>
                <p>
                    Curabitur ac elementum ex. Aliquam cursus faucibus velit, in venenatis mauris mollis et. Proin laoreet elit et magna semper lobortis eget id orci.
                </p>
            </div>
            <div class="agency-row-info col-sm-4">
                <ul>
                    <li>Effectivity Real Estate</li>
                    <li>Wardrobe Street 90210</li>
                    <li>London, United Kingdom</li>
                </ul>
                <br>
                <ul>
                    <li>+123-456-789</li>
                    <li><a href="mailto:#">info@example.com</a></li>
                    <li><a href="#">www.example.com</a></li>
                </ul>
            </div>
        </div><!-- /.row -->
    </div><!-- /.agency-row -->

    <div class="agency-row">
        <div class="row">
            <div class="agency-row-image col-sm-3">
                <a href="#">
                    <img src="~/Content/upload/partners/logo2.png" alt="">
                </a>
            </div><!-- /.agency-row-image -->
            <div class="agency-row-content col-sm-5">
                <h2 class="agency-row-title"><a href="#">Grand Plaza</a></h2>
                <div class="agency-row-subtitle">Hight Quality</div>
                <hr>
                <p>
                    Curabitur ac elementum ex. Aliquam cursus faucibus velit, in venenatis mauris mollis et. Proin laoreet elit et magna semper lobortis eget id orci.
                </p>
            </div>
            <div class="agency-row-info col-sm-4">
                <ul>
                    <li>Effectivity Real Estate</li>
                    <li>Wardrobe Street 90210</li>
                    <li>London, United Kingdom</li>
                </ul>
                <br>
                <ul>
                    <li>+123-456-789</li>
                    <li><a href="mailto:#">info@example.com</a></li>
                    <li><a href="#">www.example.com</a></li>
                </ul>
            </div>
        </div><!-- /.row -->
    </div><!-- /.agency-row -->

    <div class="agency-row">
        <div class="row">
            <div class="agency-row-image col-sm-3">
                <a href="#">
                    <img src="~/Content/upload/partners/logo3.png" alt="">
                </a>
            </div><!-- /.agency-row-image -->
            <div class="agency-row-content col-sm-5">
                <h2 class="agency-row-title"><a href="#">New York</a></h2>
                <div class="agency-row-subtitle">Hight Quality</div>
                <hr>
                <p>
                    Curabitur ac elementum ex. Aliquam cursus faucibus velit, in venenatis mauris mollis et. Proin laoreet elit et magna semper lobortis eget id orci.
                </p>
            </div>
            <div class="agency-row-info col-sm-4">
                <ul>
                    <li>Effectivity Real Estate</li>
                    <li>Wardrobe Street 90210</li>
                    <li>London, United Kingdom</li>
                </ul>
                <br>
                <ul>
                    <li>+123-456-789</li>
                    <li><a href="mailto:#">info@example.com</a></li>
                    <li><a href="#">www.example.com</a></li>
                </ul>
            </div>
        </div><!-- /.row -->
    </div><!-- /.agency-row -->

</div>
<!-- End Page Content -->
