@{
    ViewBag.Title = "Submit Abstract";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="col-md-9 page-content">
    <!-- Classic Heading -->
    <h4 class="classic-title"><span>@ViewBag.Title</span></h4>

    <div class="blog-post standard-post">
        <!-- Post Content -->
        <div class="post-content-nopadding">
            <div class="span9 post_page_cont">
                <div class="call-action call-action-boxed call-action-style1 clearfix">
                    <!-- Call Action Button -->
                    <div class="button-side" style="margin-top:8px;"><a href="https://vietnampublichealthassociation.conference-services.net/authorlogin.asp?conferenceID=5183&language=en-uk" class="btn-system border-btn btn-large"><i class="icon-gift-1"></i> Submit Now</a></div>
                    <!-- Call Action Text -->
                    <h2 class="primary"><strong>APCRSHR</strong> abstract submission!</h2>
                    <p>Abstract submission is ready now.</p>
                </div>
            </div>
        </div>
    </div>

</div>
