@charset "utf-8";
/* CSS Document */
/* ScrollBar */
/*
=====boxR  ====================================
*/
 #subbox {
	background-color: #FFF;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #999;
	border-bottom-color: #999;
	border-left-color: #999;
    height: auto !important;
    height: 520px;
	padding: 20px 20px 10px;
}

 .sub_h2{
	background-image: url(../images/sub_h2_bg.jpg);
	height: 25px;
	width: 735px;
	text-indent: 10px;
	line-height: 25px;
	font-weight: bold;
	color: #FFF;
	overflow: hidden;
}
 #subbox h3 {
	margin:0 0 10px 0;
	padding:2px 8px;
	border-width:0 0 0 5px;
	border-color: #5D8EDD;
	border-style:solid;
	background:#C7D5F1;
	color:#315FB7;
	line-height:140%;
	font-weight:bold;
	font-size:90%;
}
 #subbox h4 {
	margin:0 0 10px 0;
	padding:2px 8px 0;
	border-width:0 0 5px 0 ;
	border-color:#5D8EDD;
	border-style:solid;
	background:#fff;
	color:2B64C7;
	line-height:140%;
	font-weight:bold;
	font-size:90%;
}
 #subbox h5 {
	color: #0066CC;
	font-size: 90%;
	font-weight:bold;
	margin: 20px 0 2px 5px;
}
 #subbox p{
	font-size: 14px;
    font-family: 'Arial';
	line-height: 140%;
}

/* table.tb01 */
 #subbox table.tb01 {
	font-size: 90%;
	line-height: 140%;
	width: 90%;
}
 #subbox table.tb01 th,
 #subbox table.tb01 td {
	border-bottom: 1px #e9e9e9 solid;
	padding: 10px;
    color: #000;
    font-family: Arial;
    font-size: 15px;
}
 #subbox table.tb01 th {
	font-weight: bold;
	background-color: #f6f6f6;
	border-left: 1px #e9e9e9 solid;
	width: 30%;
}
 #subbox table.tb01 td {
	background-color: #fefef5;
	border-right: 1px #e9e9e9 solid;
}
 #subbox table.tb01 th.top {
	border-top: 4px #aaa solid;
}
 #subbox table.tb01 td.top {
	border-top: 4px #c4655b solid;
}

/* table.tb02 */
 #subbox table.tb02 {
	font-size: 90%;
	line-height: 140%;
	width: 60%;
}
 #subbox table.tb02 th,
 #subbox table.tb02 td {
	padding: 5px;
}
 #subbox table.tb02 th {
	font-weight: bold;
	color:#00306C;
	background-color: #7BAAF8;
	text-align: center;
	background-image: url(../images/teble_bg.gif);
	background-repeat: repeat-x;
	border:#FFF solid 3px;
	border-left:0px;
	width: 30%;
}
 #subbox table.tb02 td {
	background-color: #E5EDFB;
	border-bottom:#FFF solid 3px;
	border-top:#FFF solid 3px;
	padding-left: 15px;
}
 #subbox table.tb02 td.p0 {
	padding-left: 0px;
}
 #subbox table.tb02 td.Bb0 {
	border-bottom:0px;
}
 #subbox table.tb02 td.Bt0 {
	border-top:0px;
}

/* table.tb03 */
 #subbox table.tb03 {
	font-size: 80%;
	/*font-size: 75%;*/　/* ←メール用 */
	line-height: 140%;
	width: 100%;
}
 #subbox table.tb03 th,
 #subbox table.tb03 td {
	border-bottom: 1px #e9e9e9 solid;
	padding: 10px;
	/*padding: 10px 5px;*/　/* ←メール用 */
}
 #subbox table.tb03 th {
	text-align:center;
	font-weight: bold;
	background-color: #EFEFEF;
	border: 2px #fff solid;
}
 #subbox table.tb03 td {
	text-align:center;
	background-color: #E5F0FF;
	border: 2px #fff solid;
}
 #subbox table.tb03 .w50 {
	width:50%;
}
 #subbox table.tb03 .w25 {
	width:25%;
}

/* ul */
 #subbox ul {
	font-size: 80%;
	/*color: #0090ff;*/
}
 #subbox ul li span {
	color: #000;
}
 #subbox ul.list01 {
	list-style-type: disc;
}
 #subbox ul.list02 {
	list-style-type: decimal;
}

/* ul.circle */
 #subbox ul.circle li {
	margin-left: 7px;
	padding-left: 23px;
	margin-bottom: 5px;
	background-image: url(../images/icon.gif);
	background-position: left top;
	/background-position: left; /* IE6, IE7 */
	background-repeat: no-repeat;
}

/* ul.number */
 #subbox ul.number li {
	margin-left: 7px;
	padding-left: 30px;
	margin-bottom: 5px;
	background-repeat: no-repeat;
	background-position: left top;
	line-height: 20px;
}

/* dt */
 #subbox dt {
	float: left;
	clear: both;
}






/*delegate_info
-------------------------------------------------*/
 #subbox.delegate_info .scale_td02 {
	width:4em;
	/width:70px;
}
 #subbox.delegate_info .socialPro {
	width: 100%;
}
 #subbox.delegate_info .socialPro th {
	width: 18%;
}
 #subbox.delegate_info .socialPro td {
	width: 82%;
}

 #subbox.delegate_info dl {
	margin: 0.3em 1em 1em;
	font-size: 90%;
	line-height: 140%;
}
 #subbox.delegate_info dt {
	font-weight: bold;
	/*background: #6699FF;
	border: 1px #66CCFF solid;*/
}
 #subbox.delegate_info dd {
	padding-left: 6em;
	margin-bottom: 7px;
	_text-indent: -3px;
}


/* submission
-------------------------------------------------*/
 #subbox.submission .waku {
	background-color: #fffee5;
	border: 1px #f7baa5 solid;
	padding: 10px;
	margin: 3px;
}

/* ol */
 #subbox.submission ol.num {
	list-style-type: decimal;
	margin-left: 3em;
	color: #0066CC;
}
 #subbox.submission ol.num li {
	font-size: 80%;
	margin-bottom: 10px;
	font-weight: bold;
}
 #subbox.submission ol.num li span {
	color: #000;
	font-weight: normal;
}
 #subbox.submission ol.alpha {
	list-style-type: lower-alpha;
	margin-left: 2em;
	/margin-left: 2.5em;
	margin-top: 5px;
	color: #333;
}
 #subbox.submission ol.alpha li {
	font-size: 100%;
	font-weight: normal;
	margin-bottom: 5px;
}
 #subbox.submission ol.alpha li p {
	/*color: #7A9CEC !important;*/
	color: #999 !important;
	font-size: 100%;
	line-height: 110%;
	margin-top: 2px;
	text-indent: -9px;
	margin-left: 15px;
	padding-right: 15px;
}

/* table */
 #subbox.submission table.tb03.session {
	margin-right: auto;
	margin-left: auto;
}
 #subbox.submission .tb03.session td{
	text-align:left;
}
 #subbox.submission .tb03.session td.bottom{
	background-color: #EFEFEF;
	padding-left: 17px;
}
 #subbox.submission .tb03.session th{
	width:10%;
}
 #subbox.submission .tb03.participation td{
	padding: 12px;
	font-size: 110%;
}
 #subbox.submission .kome {
	font-size: 75%;
	line-height: 150%;
	text-indent: -10px;
	padding-left: 10px;
	margin: 10px 10px 20px 10px;
}



/* registration
-------------------------------------------------*/
 #subbox.registration .item {
	padding-left: 10px;
}
 #subbox.registration .kome {
	font-size: 75%;
	line-height: 150%;
	text-indent: -10px;
	padding-left: 10px;
	margin: 10px 10px 50px 10px;
}
 #subbox.registration .tb01.openH {
	width: 100% !important;
	margin-top: 10px;
	margin-bottom: 40px;
}
 #subbox.registration .tb01.openH dd {
	margin-bottom: 5px;
}
.openH dd.dd01 {
	padding-left: 127px;
}
.openH dd.dd02 {
	padding-left: 135px;
}
.openH dd.dd03 {
	padding-left: 92px;
}
.openH dd.dd04 {
	padding-left: 100px;
}


/* hotel_info
-------------------------------------------------*/
 #subbox.hotel_info .tb03 th,
 #subbox.hotel_info .tb03 td {
	font-size:85%;
}
 #subbox.hotel_info .tb03 td {
	padding-left: 3px;
	padding-right: 3px;
}
 #subbox.hotel_info .tb03 td.add {
	text-align: left;
	padding-left: 7px;
}
 #subbox.hotel_info .tb03 th.top {
	background-color:#C3DCFF;
	font-size:85%;
}
 #subbox.hotel_info .tb03 th p {
	font-size: 100%;
}
 #subbox.hotel_info .hotel_img{
	overflow:hidden;
	margin-right: auto;
	margin-left: auto;
}
 #subbox.hotel_info .hotel_img_in{
	text-align:center;
	float:left;
	height:170px;
}
 #subbox.hotel_info .btn_txt {
	text-indent: -12em;
	padding-left: 12em;
	font-size: 70%;
	/text-indent: -15em;
	/padding-left: 12em;
	/font-size: 60%;
	text-align: center;
	margin-top: 7px;
	margin-bottom: 30px;
}


/* program
-------------------------------------------------*/
 #subbox.program .tb01 {
	width:100%;
	margin: auto auto 2em;
}
/* #subbox.program .tb01 th {
	width: 23% !important;
}
 #subbox.program .tb01 td {
	width: 77% !important;
}*/
 #subbox.program .program2 table.tb03{
	width:90%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
}
 #subbox.program .program2 .tb03 td{
	text-align:left;
}
 #subbox.program .program2 .tb03 td.bottom{
	background-color: #EFEFEF;
	padding-left: 17px;
}
 #subbox.program .program2 .tb03 th{
	width:10%;
}
 #subbox.program .lineR{
	border-right: 1px #e9e9e9 solid !important;
}

 #subbox.program .program3 table.tb01{
	width:90%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
}
#subbox.program .program4 table td{
	text-align:center !important;
	vertical-align:top;
}
 #subbox.program .tb01 th {
	width: 17% !important;
}
 #subbox.program .tb01 td {
	font-size: 90% !important;
}
 #subbox.program .kome {
	margin-top: -7px;
	margin-left: 10px;
}


/* conference
-------------------------------------------------*/
/* ul */
 #subbox.conference.main ul {
	margin-bottom: 4em;
}
 #subbox.conference.main li {
	margin: 0.7em 1em;
}
 #subbox.conference.main li img {
	vertical-align: middle;
	margin-right: 0.5em;
}

/* conf01 */
/* conf02 */
 #subbox.conference.conf01 .txtBox,
 #subbox.conference.conf02 .txtBox {
	margin-left: 10px;
	margin-bottom: 1.5em;
}
 #subbox.conference.conf01 .txtBox .txt01,
 #subbox.conference.conf02 .txtBox .txt01 {
	font-size: 90%;
	font-weight: bold;
}
 #subbox.conference.conf01 ul,
 #subbox.conference.conf02 ul {
	list-style-type: disc;
	margin-left: 1.5em;
}
 #subbox.conference.conf01 li,
 #subbox.conference.conf02 li {
	margin-top: 7px;
	margin-left: 5px;
	line-height: 150%;
}
 #subbox.conference.conf01 li h5,
 #subbox.conference.conf02 li h5 {
	margin: 15px 0 0;
	font-size: 110%;
}
 #subbox.conference.conf01 li strong,
 #subbox.conference.conf02 li strong {
	font-style: italic;
}

/* conf02 */
 #subbox.conference.conf02 .tb03.program {
	width: 98% !important;
}
 #subbox.conference.conf02 .tb03.program th.bg01,
 #subbox.conference.conf02 .tb03.program th.bg02 {
	font-weight: bold !important;
	text-align: left !important;
	padding-top: 4px !important;
	padding-bottom: 4px !important;
}
 #subbox.conference.conf02 .tb03.program th.bg01 {
	background-color: #333 !important;
	color: #FFF !important;
}
 #subbox.conference.conf02 .tb03.program th.bg02 {
	background-color: #888 !important;
	color: #FFF !important;
}
 #subbox.conference.conf02 .tb03.program td {
	text-align: left !important;
}
 #subbox.conference.conf02 .tb03.program th.bg_gray,
 #subbox.conference.conf02 .tb03.program td.bg_gray {
	background-color: #cfcfcf !important;
}
 #subbox.conference.conf02 ol {
	font-size: 75%;
	list-style-type: decimal;
	margin-left: 2em;
	margin-right: 1.5em;
}


/* conf03 */
 #subbox.conference.conf03 table{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 3em;
}
 #subbox.conference.conf03 table th{
	width: 15%;
}
 #subbox.conference.conf03 table td{
	width: 90%;
	padding-left: 15px;
	padding-right: 20px;
	text-align:left;
}



/* exhibition
-------------------------------------------------*/
 #subbox.exhibition ul {
	font-size: 90%;
	margin-left: 5px;
}
 #subbox.exhibition ul li {
	margin-bottom: 20px;
}


/* location
-------------------------------------------------*/

 #subbox.location .tb02 th{
	vertical-align: top;
	border-bottom:solid #fff 10px;
}

 #subbox.location .tb02 td{
	background-color:#fff;
	border-bottom:solid #fff 10px;
	text-align:center;

}


/* committee
-------------------------------------------------*/
 #subbox.committee table.tb01 {
	margin-left:10px;
}
 #subbox.committee table.tb01 td {
	font-size: 85%;
}
 #subbox.committee .list01{
	color:#000;
	font-size:100%;
}

 #subbox.committee table.tb02 {
	margin-left:10px;
}

 #subbox.committee .committee_box{
	text-align:left;
	width:40%;
	border:5px solid #fff;
	padding:10px;
	background-color:#FEFEF5;
	border:1px #E9E9E9 solid;
	float:left;
	height:250px;
}
 #subbox.committee .spon_top {
	vertical-align: top;
}


/* program_luncheon
-------------------------------------------------*/
#subbox.program_luncheon h3 {
	height: 30px;
	padding-top: 13px !important;
}
#subbox.program_luncheon h3.logo {
	height: 36px;
	padding-top: 7px !important;
}
#subbox.program_luncheon h3.logo02 {
	height: 50px;
	padding-top: 7px !important;
}
#subbox.program_luncheon h3 strong{
	color:#4B4B4B;
}
#subbox.program_luncheon .subbox001 p strong{
	color:#395BC1;
}
#subbox.program_luncheon .titleP {
	display: block;
	margin-top: 7px;
	margin-left: 10px;
	margin-bottom: -7px;
}
#subbox.program_luncheon p.lineB {
	border-bottom: 1px dotted #ddd;
	padding-bottom: 15px;
	margin-bottom: 10px;
}



/* conference_statement.html
-------------------------------------------------*/
#subbox.statement img.rollover,
#subbox.statement img.off {
	margin: 7px 1em 2em;
}



/* presentation_data.html
-------------------------------------------------*/
#subbox.presen_data .tb03 {
	width: 100% !important;
	margin: 1.5em 0;
}
#subbox.presen_data .tb03 th {
	vertical-align: top;
	text-align: center;
	white-space: nowrap;
	padding-left: 2em !important;
	padding-right: 2em !important;
}
#subbox.presen_data .tb03 td {
	text-align: left !important;
	padding-left: 2em !important;
	padding-right: 2em !important;
}
#subbox.presen_data .tb03 td span {
	padding-left: 2.5em;
	font-size: 85%;
}
