@using apcrshr_site.Helper
<div id="left">

    <div class="subnav">
        <div class="subnav-title">
            <a href="#" class='toggle-subnav'>
                <i class="fa fa-angle-down"></i>
                <span>Quản Trị Viên</span>
            </a>
        </div>
        <ul class="subnav-menu">
            <li>
                <a href='@Url.Action("AdminList", "Admin")'>Quản Trị</a>
            </li>
            
        </ul>
    </div>

</div>
